<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="ko">
 <meta charset="utf-8" />
 <title>온비즈결제페이지</title>
<meta name="title" content="온비즈오피스" /> 
<meta name="author" content="온비즈오피스"/>
<meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office" /> 
<meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta name="keywords" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office"/>
<meta name="classification" content="소호사무실"/>

<!-- 오픈그래프 -->
<meta property="og:type" content="website">
<meta property="og:title" content="온비즈오피스">
<meta property="og:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta property="og:url" content="http://www.onbiz.co.kr">
<meta property="og:site_name" content="온비즈오피스">
<!-- 오픈그래프 -->

<!-- Android icon -->
<link rel='shortcut icon' type="image/x-ico" href='http://img.onbiz.co.kr/favicon/icon128x128.png' />
<!-- iPhone icon -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='57x57' href='http://img.onbiz.co.kr/favicon/icon57x57.png' />
<!-- iPad icon -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='72x72' href='http://img.onbiz.co.kr/favicon/icon72x72.png' />
<!-- iPhone icon(Retina) -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='114x114' href='http://img.onbiz.co.kr/favicon/icon114x114.png' />
<!-- iPad icon(Retina) -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='144x144' href='http://img.onbiz.co.kr/favicon/icon144x144.png' />

<link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="http://static.onbiz.co.kr/css/style.css?v=1486517298">
<!-- <link rel="stylesheet" href="../src/css/style_renew.css"> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
<!--[if lte IE 8]> <script src="path/to/poly-checked.min.js"></script> <![endif]-->
<!--[if lt IE 9]> <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"> </script>
<![endif]-->

</head>
<body>
	<div id="wrapeer">
		<div id="wrap">
			<div id="header">
				<h1 id="logo"><a href="#"><img src="http://img.onbiz.co.kr/logo.gif" alt="온비트오피스로고"/></a></h1>
				<div id="gnb">
					<ul>
						<li class="menu_title">가상오피스 임대신청</li>
						<li class="gnb_m gnb_m01"><a href="">임대신청</a></li>
						<li> | </li>
						<li class="gnb_m gnb_m02"><a href="">임대 신청내역 확인</a></li>
					</ul>
					<p class="tel">문의전화 : 02-6255-3013, 010-4429-3013 (24시간) </p>
				</div>
				<div id="lnb">
					<div class="menuTitle">가상오피스 임대신청</div>
					<ul class="navi navi_03">
						<li >1.정보입력</li>
						<li>2.상품결제</li>
						<li class="here">3.신청완료</li>
					</ul>
				</div>
			</div>
	
			<div id="container">
				<div class="contents">
					<div class="intro">
						<p class="tit03">가상오피스 결제가 정상적으로 완료되었습니다.</p>
						<p class="txt03">
							임대차계약서(PDF파일)를 입력하신 "OOOOOO@naver.com" 메일 주소로 발송해 드렸습니다.<br/> 
							<span>※계약서 최종 확인 후, 00시간 이내 당사 날인된 임대차계약서(PDF)를 이메일로 발송해 드립니다.</span>
						</p>
					</div><!--intro-->
					
				
					<div class="completion">
						<div class="ex_txt"><img src="http://img.onbiz.co.kr/pointer.gif" />&nbsp;계약서 작성 후 아래의 방법중 편하신 방법을 선택하여 당사로 발송해 주시기 바랍니다.</div>
						<ul>	
							<li><img src="http://img.onbiz.co.kr/send01.png" alt="방법1"/> <p class="line_p">전자서명 후 계약서 바로 받기</p><input type="button" value="전자서명하기" /></li>
							<li><img src="http://img.onbiz.co.kr/send02.png" alt="방법2"/><p>도장 이미지 업로드 후 계약서 바로 받기</p><div class="filebox"><label for="ex_file">도장 이미지 업로드</label> <input type="file" id="ex_file"> </div></li>
						</ul>

						<div class="btn_box">
							<p class="download"><input type="button" value="계약서 다운로드(PDF파일)"/></p>
							<p class="e_sign"><input type="button" value="계약서에 바로 사인하기"/></p>
						</div>
					</div>
		

				</div>
			</div><!--container-->
			<div id="footer">
				(주)이비즈네트웍스  /  대표이사 : 박기범   /  사업자등록번호 : 220-87-30865   /  온비즈오피스&nbsp;&nbsp;&nbsp;<input type="button" value="사업자정보확인"  /><br/>
서울특별시 강남구 선릉로 99길 12, 4층 (역삼동, 모노타워)  /  TEL : 02-6255-3013  /  EMAIL : onbiz@ebiznetworks.co.kr
<small>Copyright © EbizNetworks. All Rights Reserved.</small>
			</div>
		</div>
	</div><!--wraper-->   
</body>
</html>
