
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">             
<meta charset="utf-8">
<title>온비즈오피스</title>
<meta name="title" content="온비즈오피스" /> 
<meta name="author" content="온비즈오피스"/>
<meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office" /> 
<meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta name="keywords" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office"/>
<meta name="classification" content="소호사무실"/>
<link rel="canonical" href="http://www.onbiz.co.kr"> 
<!-- 오픈그래프 -->
<meta property="og:type" content="website">
<meta property="og:title" content="온비즈오피스">
<meta property="og:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta property="og:url" content="http://www.onbiz.co.kr">
<meta property="og:site_name" content="온비즈오피스">
<!-- 오픈그래프 -->

<!-- Android icon -->
<link rel='shortcut icon' type="image/x-ico" href='http://img.onbiz.co.kr/favicon/icon128x128.png' />
<!-- iPhone icon -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='57x57' href='http://img.onbiz.co.kr/favicon/icon57x57.png' />
<!-- iPad icon -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='72x72' href='http://img.onbiz.co.kr/favicon/icon72x72.png' />
<!-- iPhone icon(Retina) -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='114x114' href='http://img.onbiz.co.kr/favicon/icon114x114.png' />
<!-- iPad icon(Retina) -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='144x144' href='http://img.onbiz.co.kr/favicon/icon144x144.png' />
<link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://static.onbiz.co.kr/css/style.css?v=1486521099">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> <!--[if lte IE 8]> <script src="path/to/poly-checked.min.js"></script> <![endif]-->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css" />
<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
<script src="http://static.onbiz.co.kr/js/jquery.cookie.js"></script>
<script src="http://static.onbiz.co.kr/js/script.js"></script>
<script type="text/javascript" src="http://post.ebiznetworks.co.kr/post2.php" charset="utf-8"></script>
<script type="text/javascript" src="http://static.ssenflower.co.kr/js/jquery.number.js"></script>
<script src="http://static.onbiz.co.kr/js/signature_pad.js"></script>
<script type="text/javascript">
document.domain = "onbiz.co.kr";
window.name = "onbiz";

$(function() {
	$("#date").datepicker({ dateFormat:"yy-mm-dd", showAnim:"slideDown", dayNamesMin:["일","월","화","수","목","금","토"], minDate: 0, maxDate: 3, changeMonth: true, changeYear: true, onSelect: function(){
		
				val = this.value;

				$.ajax({		
					type: "post",
					url: "/rent/state.php",
					data: "mode=rdate&a=" + val +"&b=" + $("input[name='month']").val(),
					success: function(r){
						$("#sdate").html(val);
						$("#edate").html(r);
					}
				});

		}
		
	});
});


function company2(e) {
	if(e == 1) {		
		$("dl.table_write01 input").attr("disabled", false);
		$("dl.table_write02 input").attr("disabled", true).val("");
		$("#ex_chk2").prop("checked", false);
		$("#post2").val("주소찾기");
		$("dl.table_write01 input[name='cpcode']").attr("name", "pcode");
		$("dl.table_write01 input[name='caddr']").attr("name", "addr");
		$("dl.table_write01 input[name='caddr_sub']").attr("name", "addr_sub");
		$("dl.table_write02 input[name='pcode']").attr("name", "cpcode");
		$("dl.table_write02 input[name='addr']").attr("name", "caddr");
		$("dl.table_write02 input[name='addr_sub']").attr("name", "caddr_sub");
	} else {

		$("dl.table_write01 input").attr("disabled", true).val("");
		$("dl.table_write02 input").attr("disabled", false);
		$("#ex_chk1").prop("checked", false);
		$("#post1").val("주소찾기");
		$("dl.table_write01 input[name='pcode']").attr("name", "cpcode");
		$("dl.table_write01 input[name='addr']").attr("name", "caddr");
		$("dl.table_write01 input[name='addr_sub']").attr("name", "caddr_sub");
		$("dl.table_write02 input[name='cpcode']").attr("name", "pcode");
		$("dl.table_write02 input[name='caddr']").attr("name", "addr");
		$("dl.table_write02 input[name='caddr_sub']").attr("name", "addr_sub");
	}
}

function info() {
	if(!$("select[name=service1]").val()) {
		alert("업종을 선택해주세요.");
		$("select[name=service1]").focus();
		return;
	}
	
	if($("select[name=service1]").val() == "dr" && !$("#service2").val()) {
		alert("업종을 입력해주세요.");
		$("#service2").focus();
		return;
	}

	if($("input:radio[name='ctype']:checked").val() == 1) {
		if(!$("#name").val()) {
			alert("성명을 입력해주세요.");
			$("#name").focus();
			return;
		}

		if(!$("#ssn1").val()) {
				alert("주민등록번호 얖 6자리를 입력해주세요.");
				$("#ssn1").focus();
				return;
			}

		if(!$("#ssn2").val()) {
			alert("주민등록번호 뒤 1자리를 입력해주세요.");
			$("#ssn2").focus();
			return;
		}

		if(!$("#tel1").val()) {
			alert("연락처를 입력해주세요.");
			$("#tel1").focus();
			return;
		}

		if(!$("#tel2").val()) {
			alert("연락처를 입력해주세요.");
			$("#tel2").focus();
			return;
		}

		if(!$("#tel3").val()) {
			alert("연락처를 입력해주세요.");
			$("#tel3").focus();
			return;
		}

		if(!$("#email11").val()) {
			alert("이메일 주소를 입력해주세요.");
			$("#email11").focus();
			return;
		}

		if(!$("#email12").val()) {
			alert("이메일 주소를 입력해주세요.");
			$("#email12").focus();
			return;
		}

	} else {
		if(!$("#cname").val()) {
			alert("대표자 성명을 입력해주세요.");
			$("#cname").focus();
			return;
		}

		if(!$("input[name='company']").val()) {
			alert("상호(법인명)를 입력해주세요.");
			$("input[name='company']").focus();
			return;
		}

		if(!$("#ccssn1").val()) {
			alert("사업자등록번호를 입력해주세요.");
			$("#ccssn1").focus();
			return;
		}

		if(!$("#ccssn2").val()) {
			alert("사업자등록번호를 입력해주세요.");
			$("#ccssn2").focus();
			return;
		}

		if(!$("#ccssn3").val()) {
			alert("사업자등록번호를 입력해주세요.");
			$("#ccssn3").focus();
			return;
		}

		if(!$("#cemail11").val()) {
			alert("이메일 주소를 입력해주세요.");
			$("#cemail11").focus();
			return;
		}

		if(!$("#cemail12").val()) {
			alert("이메일 주소를 입력해주세요.");
			$("#cemail12").focus();
			return;
		}	
	}

	if(!$("input[name='pcode']").val()) {
		alert("주소를 입력해주세요.");
		$("input[name='pcode']").focus();
		return;
	}

	if(!$("input[name='addr']").val()) {
		alert("주소를 입력해주세요.");
		$("input[name='addr']").focus();
		return;
	}

	if(!$("input[name='addr_sub']").val()) {
		alert("주소를 입력해주세요.");
		$("input[name='addr_sub']").focus();
		return;
	}

	if(!$("select[name=bank1]").val()) {
		alert("은행을 선택해주세요.");
		$("select[name=bank1]").focus();
		return;
	}

	if(!$("input[name=bank2]").val()) {
		alert("계좌번호를 입력해주세요.");
		$("input[name=bank2]").focus();
		return;
	}

	if(!$("input[name=bank3]").val()) {
		alert("예금주를 입력해주세요.");
		$("input[name=bank3]").focus();
		return;
	}

	$.ajax({		
		type: "post",
		url: "/rent/state.php",
		data: $("#iform").serialize(),
		success: function(r){
			$("#temp").html(r);
			$("#sform").submit();
		}
	});
}

function copy(e) {
	if(e == 1) {
		$("#name").val($("#_name").val());
		$("#tel1").val($("#_tel1").val());
		$("#tel2").val($("#_tel2").val());
		$("#tel3").val($("#_tel3").val());
	} else {
		$("#cname").val($("#_name").val());
		$("#ctel1").val($("#_tel1").val());
		$("#ctel2").val($("#_tel2").val());
		$("#ctel3").val($("#_tel3").val());
	}
	
}
</script>
</head><body>
<div id="loginWraper" style="display:none">
	<div class="login_popBg"></div>
	<div class="loginBox" style="position:fixed">
		<form id="zform" method="post" action="/rent/state.php">
		<input type="hidden" name="mode" value="search" />
		<div class="login_top">가상오피스 임대신청서 내역 조회<span><img src="http://img.onbiz.co.kr/close.png" alt="닫기" onclick="layer_on('loginWraper')" /></span></div>
		<!--div class="login_name"><label for="name">신청자명</label><input type="text" name="zname" id="zname"/><span>신청자명은"_"없이 입력해주세요</span></div-->
		<div class="login_email"><label for="email">이메일주소</label><input type="text" name="zmail1" id="zemail1"/>&nbsp;@&nbsp;<input type="text" id="zemail2" name="zmail2" /></div>
		<!--div class="login_phone"><label for="phone">전화번호</label><input type="text" id="ztel1" value="010" name="ztel1" /> - <input type="text" name="ztel2" id="ztel2"/> - <input type="text" id="ztel3" name="ztel3"/> </div-->
		<div class="login_phone"><label for="phone">전화번호</label>XXX - XXXX - <input type="text" id="ztel3" name="ztel3" maxlength="4" onkeyup="etc.onlynum(this.value, this.id);"/> </div>
		<div class="login_btn"><input type="button" value="확 인" onclick="test();" /></div>
		</form>
	</div>	
</div>

<div id="search"></div>

<script type="text/javascript">
function test() {
	/*
	if(!$("#zname").val())
	{
		alert("신정자명을 입력해주세요.");
		$("#zname").focus();
		return;
	}
	*/

	if(!$("#zemail1").val())
	{
		alert("이메일을 입력해주세요.");
		$("#zemail1").focus();
		return;
	}

	if(!$("#zemail2").val())
	{
		alert("이메일을 입력해주세요.");
		$("#zemail2").focus();
		return;
	}
	/*
	if(!$("#ztel1").val())
	{
		alert("전화번호를 입력해주세요.");
		$("#ztel1").focus();
		return;
	}

	if(!$("#ztel2").val())
	{
		alert("전화번호를 입력해주세요.");
		$("#ztel2").focus();
		return;
	}
	*/
	if(!$("#ztel3").val())
	{
		alert("전화번호를 입력해주세요.");
		$("#ztel3").focus();
		return;
	}

	$.ajax({		
		type: "post",
		url: "/rent/state.php",
		data: $("#zform").serialize(),
		success: function(r){
			res = r.split("||");
			
			if(res[0] == "N") {
				alert(res[1]);
			} else {
				$("#search").html(r);
			}
		} 
	});
}

function layer_on(id) {
	if($("#"+id).hasClass("l_on") == true) {
		$("#"+id).removeClass("l_on");
		$("#"+id).hide();
	} else {
		$("#"+id).addClass("l_on");
		$("#"+id).show();
	}
}
</script>
<input type="hidden" id="_name" value="" />
<input type="hidden" id="_tel1" value="" />
<input type="hidden" id="_tel2" value="" />
<input type="hidden" id="_tel3" value="" />

<div id="wrapeer">
	<div id="wrap">
		<div id="header">
			<h1 id="logo"><a href="/"><img src="http://img.onbiz.co.kr/logo.gif" alt="온비트오피스로고"/></a></h1>
			<div id="gnb">
				<ul>
						<li class="menu_title">가상오피스 임대신청</li>
						<li class="gnb_m gnb_m01"><a href="/rent/payment.php">임대신청</a></li>
						<li> | </li>
						<li class="gnb_m gnb_m02" onclick="layer_on('loginWraper')"><a href="#">임대 신청내역 확인</a></li>
					</ul>
					<p class="tel">온비즈오피스<br/>문의전화: 010-4429-3013, 010-4429-3017 (24시간) </p>
			</div>
			<div id="lnb">
				<div class="menuTitle">가상오피스 임대신청</div>
				<ul class="navi navi_02">
					<li class="navi_1 "><p>1.상품결제</p></li>
						<li class="navi_2 here"><p>2.임차인 정보 입력</p></li>
						<li class="navi_3"><p>3.신청완료 및 출력</p></li>
				</ul>
			</div>
		</div>

		<div id="container">
			<div class="contents">
				<div class="intro">
					<p class="tit01"></p>
					<p class="txt01">
						가상오피스 임대차계약서 작성을 위해 계약명의자(임차인) 정보를 입력해 주세요.				
					</p>
				</div>
				<form id="iform">
				<div class="select02">
					<select name="service1" class="business" onchange="etc.service(this.value);">
					<option value="">업종선택</option>
					<option value="건설업 ">건설업 </option><option value="도매 및 소매업 ">도매 및 소매업 </option><option value="운수업 ">운수업 </option><option value="출판, 영상, 방송통신 및 정보서비스업 ">출판, 영상, 방송통신 및 정보서비스업 </option><option value="금융 및 보험업 ">금융 및 보험업 </option><option value="부동산업 및 임대업 ">부동산업 및 임대업 </option><option value="전문,과학 및 기술서비스업 ">전문,과학 및 기술서비스업 </option><option value="사업시설관리 및 사업지원서비스업 ">사업시설관리 및 사업지원서비스업 </option><option value="교육서비스업 ">교육서비스업 </option><option value="사회복지서비스업 ">사회복지서비스업 </option><option value="예술, 스포츠 및 여가관련 서비스업 ">예술, 스포츠 및 여가관련 서비스업 </option><option value="협회 및 단체, 수리 및 기타  ">협회 및 단체, 수리 및 기타  </option><option value="개인서비스업">개인서비스업</option>					<option value="dr">직접입력</option>
					</select> &nbsp; <input type="text" id="service2" name="service2" class="business" style="display: none;"/>
					<p>※ 정확한 업종을 모르실 경우, 사업 내용을 간략하게 작성해주시기 바랍니다.</p>
				</div>			
				
				<input type="hidden" name="mode" value="info2" />
				<input type="hidden" name="oid" value="" />
				<ul class="select01">
					<li>
						<!-- 클릭시 chek_here클래스 부여  -->
						<p class="chek chek_here">
							<input type="radio" name="ctype" value="1" id="com1" checked="checked" onclick="company2(1);"/>
							<label for="com1">신규 사업자  등록</label>
						</p>
						<span>개인 또는 법인 신규 사업자 등록을 위해 사용합니다.</span>
					</li>
					<li style="border:none;">
						<p class="chek">
							<input type="radio" name="ctype" value="2" id="com2" onclick="company2(2);" />
							<label for="com2">사업자등록증 보유자</label>
						</p>
						<span>현재 사업자등록이 있으나, 주소 이전을 위해 사용합니다.</span>
					</li>	
				</ul>

				
				<div class="select03 company1">
					<dl class="table_write01">
						<dt class="checks01">계약 명의자(임차인)정보&nbsp;&nbsp;<input type="checkbox" id="ex_chk1" onclick="copy(1);"> <label for="ex_chk1"><span>계약 신청인 정보와 동일함</span></label></dt>
						<dd>
							<label class="left_txt" for="name">ㆍ 성명</label>
							<p class="right_input"><input type="text" name="name" id="name" autocomplete="off"/></p>
						</dd>
						<dd class="resize">
							<label class="left_txt" for="ssn1">ㆍ 주민등록번호</label>
							<p class="right_input">
								<input type="text" name="ssn1" id="ssn1" onkeyup="etc.onlynum(this.value, this.id);" maxlength="6" autocomplete="off"/> - 
								<input type="text" name="ssn2" id="ssn2" style="width:30px;" maxlength="1" autocomplete="off"/>XXXXXX
							</p>
						</dd>
						<dd class="n_input resize">
							<label class="left_txt" for="tel1">ㆍ 연락처</label>
							<p class="right_input">
								<input type="text" name="tel1" id="tel1" onkeyup="etc.onlynum(this.value, this.id);" maxlength="4" autocomplete="off"/> - 
								<input type="text" name="tel2" id="tel2" onkeyup="etc.onlynum(this.value, this.id);" maxlength="4" autocomplete="off"/> - 
								<input type="text" name="tel3" id="tel3" onkeyup="etc.onlynum(this.value, this.id);" maxlength="4" autocomplete="off"/>
							</p>
						</dd>
						<dd class="n_input resize">
							<label class="left_txt" for="email1">ㆍ 이메일 주소</label>
							<p class="right_input">
								<input type="text" name="email1" id="email11" autocomplete="off"/> @ 
								<input type="text" name="email2" id="email12" autocomplete="off"/>
							</p>
						</dd>
						<dd class="addr resize">
							<label class="left_txt" for="address">ㆍ 주소</label>
							<p class="right_input">
								<input type="text" name="pcode" id="address" onclick="ebizPost.search_popup();" style="cursor:pointer; width: 100px;" readonly="readonly" autocomplete="off">&nbsp;
								<input type="button" id="post1" value="주소찾기" class="addr_find"  onclick="ebizPost.search_popup();">
								<input type="text" name="addr" id="addr" class="more_addr" onclick="ebizPost.search_popup();" style="cursor:pointer;" readonly="readonly" autocomplete="off"/> 
								<input type="text" name="addr_sub" id="addr2" class="more_addr" autocomplete="off"/>
							</p>
						</dd>
					</dl>

					<dl class="table_write02">
						<dt class="checks01">계약 명의자(임차인)정보&nbsp;&nbsp;<input type="checkbox" id="ex_chk2" onclick="copy();" disabled="disabled"> <label for="ex_chk2"><span>계약 신청인 정보와 동일함</span></label></dt>
						<dd>
							<label class="left_txt" for="cname">ㆍ대표자 성명</label>
							<p class="right_input"><input type="text" name="cname" id="cname" autocomplete="off" disabled="disabled"/></p>
						</dd>
						<dd >
							<label class="left_txt" for="company">ㆍ 상호(법인명)</label>
							<p class="right_input"><input type="text" name="company" id="company" autocomplete="off" disabled="disabled"/></p>
						</dd>

						<dd class="n_input resize">
							<label class="left_txt" for="ccssn1">ㆍ 사업자등록번호</label>
							<p class="right_input">
								<input type="text" name="ccssn1" id="ccssn1" onkeyup="etc.onlynum(this.value, this.id);" style="width:60px;"  maxlength="3" autocomplete="off" disabled="disabled"/> - 
								<input type="text" name="ccssn2" id="ccssn2" onkeyup="etc.onlynum(this.value, this.id);" style="width:40px;" maxlength="2" autocomplete="off" disabled="disabled"/> - 
								<input type="text" name="ccssn3" id="ccssn3" onkeyup="etc.onlynum(this.value, this.id);" style="width:90px;" maxlength="5" autocomplete="off" disabled="disabled"/>
							</p>
						</dd>
						<dd class="n_input resize">
							<label class="left_txt" for="ctel1">ㆍ 연락처</label>
							<p class="right_input">
								<input type="text" name="ctel1" id="ctel1" onkeyup="etc.onlynum(this.value, this.id);" maxlength="4" autocomplete="off" disabled="disabled"/> - 
								<input type="text" name="ctel2" id="ctel2" onkeyup="etc.onlynum(this.value, this.id);" maxlength="4" autocomplete="off" disabled="disabled"/> - 
								<input type="text" name="ctel3" id="ctel3" onkeyup="etc.onlynum(this.value, this.id);" maxlength="4" autocomplete="off" disabled="disabled"/>
							</p>
						</dd>
						<dd class="n_input resize">
							<label class="left_txt" for="cemail1">ㆍ 이메일 주소</label>
							<p class="right_input">
								<input type="text" name="cemail1" id="cemail11" autocomplete="off" disabled="disabled"/>&nbsp;@ 
								<input type="text" name="cemail2" id="cemail12" autocomplete="off" disabled="disabled"/>
							</p>
						</dd>
						<dd class="addr resize">
							<label class="left_txt" for="address">ㆍ 주소</label>
							<p class="right_input">
								<input type="text" name="cpcode" id="address" onclick="ebizPost.search_popup();" style="cursor:pointer; width: 100px;" readonly="readonly" autocomplete="off" disabled="disabled">&nbsp;
								<input type="button" id="post2" value="주소찾기" class="addr_find"  onclick="ebizPost.search_popup();" disabled="disabled">
								<input type="text" name="caddr" id="addr" class="more_addr" onclick="ebizPost.search_popup();" style="cursor:pointer;" readonly="readonly" autocomplete="off" disabled="disabled"/> 
								<input type="text" name="caddr_sub" id="addr2" class="more_addr" autocomplete="off" disabled="disabled"/>
							</p>
						</dd>
					</dl>
				</div>

				<p class="txt_11"> ※ 계약명의자 정보는 발급 이후에도 변경이 가능합니다.(문의:010-4429-3013)</p>

				<div class="select04">
					<p>※ 환불 계좌 정보<span>(추후 예치금 상환시 필요함으로 정확히 입력해 주세요!)</span></p>
					<ul>
						<li>
							은행명&nbsp;&nbsp;							
							<select name="bank1" class="business">
							<option value="">환불받으실 은행을 선택해주세요 </option>
							<option value="기업은행">기업은행</option><option value="국민은행">국민은행</option><option value="우리은행">우리은행</option><option value="신한은행">신한은행</option><option value="KEB하나은행">KEB하나은행</option><option value="농협은행">농협은행</option><option value="지역농축협">지역농축협</option><option value="SC은행">SC은행</option><option value="한국씨티은행">한국씨티은행</option><option value="우체국">우체국</option><option value="경남은행">경남은행</option><option value="광주은행">광주은행</option><option value="대구은행">대구은행</option><option value="도이치">도이치</option><option value="부산은행">부산은행</option><option value="산림조합">산림조합</option><option value="산업은행">산업은행</option><option value="상호저축은행">상호저축은행</option><option value="새마을금고">새마을금고</option><option value="수협">수협</option><option value="신협중앙회">신협중앙회</option><option value="전북은행">전북은행</option><option value="제주은행">제주은행</option><option value="BOA">BOA</option><option value="HSBC">HSBC</option><option value="JP모간">JP모간</option><option value="중국공상은행">중국공상은행</option><option value="비엔피파리바은행">비엔피파리바은행</option>							</select>
						</li>
						<li>계좌번호&nbsp;&nbsp;<input type="text" name="bank2" class="ac_num"/ autocomplete="off" placeholder="(-) 제외하고 입력해주세요."></li>
						<li>예금주&nbsp;&nbsp;<input type="text" name="bank3"  class="ac_holder"  autocomplete="off"/></li>
					</ul>
				</div>
				</form>
				<p class="txt_12">
					※계약서 전송 및 세금계산서 발행을 위해 정확히 입력 부탁 드립니다.
				<br/>※ 계약 명의자를 허위로 기재하거나, 임대인의 동의 없이 사업자 등록을 하실 경우 관련 법에 의하여, 형사처벌을 받으실 수 있습니다. 

				</p>
				<div class="complete_btn"><input type="button" value="확인" onclick="info();"/></div>
				<div id="temp"></div>

			</div>
		</div><!--container-->
		<div id="footer">
			(주)이비즈네트웍스  /  대표이사 : 박기범   /  사업자등록번호 : 220-87-30865   /  온비즈오피스&nbsp;&nbsp;&nbsp;<input type="button" value="사업자정보확인" onclick="window.open('http://ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2006322008330211501&area1=&area2=&currpage=1&searchKey=04&searchVal=2208730865&stdate=&enddate=');"/><br/>
서울특별시 강남구 선릉로 99길 12, 4층 (역삼동, 모노타워)  /  TEL : 02-6255-3014  /  EMAIL : onbiz@ebiznetworks.co.kr
<small>Copyright © EbizNetworks. All Rights Reserved.</small>
		</div>
	</div>
</div><!--wraper-->   
</body>
</html>

