<!Doctype html>
<html lang="ko">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">

  <meta name="title" content="온비즈오피스">

  <meta name="Description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <meta name="keywords" content="가상오피스, 80평, 분할임대, 삼성역, 풀옵션,Onbiz Office">
  <meta name="viewport" content="width=320, width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!-- facebook -->
  <meta property="og:title" content="온비즈오피스">
  <meta property="og:url" content="http://onbiz.co.kr">
  <meta property="og:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">
  <meta property="Description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://onbiz.co.kr">
  <meta name="twitter:title" content="온비즈오피스">
  <meta name="twitter:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <meta name="twitter:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">

  <title>Onbiz Office</title>

  <link rel="canonical" href="http://onbiz.co.kr" />
  
  <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/m/swiper.3.4.1.min.css" type="text/css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/m/reset_m.css" type="text/css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/m/common_m.css" type="text/css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/m/comlpete/comlpete_m.css" type="text/css">

  <script src="http://static.onbiz.co.kr/js/jquery-1.12.4.min.js" type="text/javascript"></script>
  <script src="http://static.onbiz.co.kr/js/jquery.swiper-3.4.1.min.js" type="text/javascript"></script>
	<!--지도-->
  <script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=ccf6dd6538a21cc002e87e64695e0862"></script>
  <!--커스터마이징-->
  <script src="http://static.onbiz.co.kr/src/js/m/common_m.js"></script>

  <!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="wrap"> 
    <!--전체화면 메뉴-->
    <div id="backDrop"></div>
    <div id="menu_wrap">
      <section class="menu">
      	<a class="clsBtn" href="#"></a>
				<h2>Onbiz Office Menu</h2>
				<h3>Onbiz Office</h3>
				<nav class="gnb">
					<ul>
						<li>
							<a href="index.html">홈으로</a>
						</li>
						<li>
							<a href="info.html">임대신청</a>
						</li>
						<li>
							<a class="chClk" href="#">임대신청 내역 확인</a>
						</li>
						<!-- <li><a class="chClk" href="#">Login/Logout</a></li> -->
					</ul>
				</nav>
				<ul class="wrap_ntc clr">
					<li>
						<span class="ph"></span>
						<p>전화문의</p>
						<p>T : 02-6255-3014</p>
						<p>H : 010-4429-3013</p>
					</li>
					<li>
						<span class="mp"></span>
						<p>오시는 길</p>
						<p>서울트별시 강남구</p>
						<p>테헤란로 82길 15</p>
					</li>
				</ul>
			</section>
			<section class="chk_wrap off">
				<a href="#" class="chk_clsBtn"></a>
				<h2>가상오피스 임대신청서 내역 조회</h2>
				<ul>
					<li>
						<label for="chk_name">신청자명</label>
						<input type="text" id="chk_name" placeholder='"-"없이 입력해주세요'>
					</li>
					<li>
						<label for="chk_email">이메일 주소</label>
						<input type="text" id="chk_email"><span>&#64;</span><select>
							<option value="naver.com">naver.com</option>
							<option value="daum.net">daum.net</option>
							<option value="hanmail.net">hanmail.net</option>
							<option value="nate.com">nate.com</option>
							<option value="gmail.com">gmail.com</option>
						</select>
					</li>
					<li>
						<label for="chk_num">전화번호</label>
						<input type="text" id="chk_num" placeholder='"-"없이 입력해주세요'>
					</li>
					<li>
						<input type="button" value="확 인" class="chk_btn">
					</li>
				</ul>
			</section>
		</div>
    

    <!-- 헤더 -->
    <header class="headerOrigin">
      <h1><a href="./index.html">Onbiz Office</a></h1>
      <a class="nav_tab" href="#"></a>
    </header>
    
    <div class="btntop ptr">
      <img src="http://img.go.co.kr/mobile/top.png" alt="위로가기">
    </div>
    
    <!--단계 bar-->
    <ul class="inf_bar clr">
    	<li class="ib0">신청내역확인</li>
    	<li class="ib3 on">신청내역 확인</li>
    </ul>
		
		<!--main 섹션-->
		<section id="main">
			<h2><span>Onbiz</span><span>Office</span></h2>
			<p>
				1인실~ 60인 이상을 수용할 수 있는 다양한 독립 사무실, <br/>
				법인 설립 에서 세무기장까지 강남 최저가 서비스
			</p>
			<p>전국 어디에서든 방문없이 1시간 이내 제공받으실 수 있습니다.</p>
			<p><input type="button" value="계약서 (PDF)파일 다운받기"></p>
		</section>
		
		<!--contents-->
		<div id="contents">
			<!--사업자정보-->
			<section>
				<h3>&#8226; 사업자정보</h3>
				<div>
					<ul>
						<li>사업자구분</li><li>개인사업자</li>
					</ul>
					<ul>
						<li>용도</li><li>신규사업자 개설용</li>
					</ul>
					<ul>
						<li>업종</li><li>부동산 컨설팅</li>
					</ul>
				</div>
			</section>
			<!--계약 담당자 정보-->
			<!--section>h3+(ul>li*2)*5-->
			<section>
				<h3>&#8226; 계약 담당자 정보</h3>
				<div>
					<ul>
						<li>성명</li><li>홍길동</li>
					</ul>
					<ul>
						<li>연락처</li><li>010-0000-0000</li>
					</ul>
					<ul>
						<li>주민등록번호</li><li>000000-0000000</li>
					</ul>
					<ul>
						<li>이메일주소</li><li>oooooo@naver.com</li>
					</ul>
					<ul>
						<li>팩스</li><li>00-000-0000</li>
					</ul>
				</div>
			</section>
			<!--결제상품정보-->
			<section>
				<h3>&#8226; 결제상품정보</h3>
				<div>
					<ul>
						<li>상품정보</li><li>가상오피스 3개월 이용권</li>
					</ul>
					<ul>
						<li>임대기간</li><li>2017년 01월 09일(월)~2017년04월09일(월)</li>
					</ul>
					<ul>
						<li>옵션상품 추가</li><li>대회의실 및 미팅룸 5시간 사용</li>
					</ul>
				</div>
			</section>
			<!--결제정보-->
			<section class="sec_prc">
				<h3>&#8226; 결제상품정보</h3>
				<div>
					<ul>
						<li>결제일</li><li>2017년 01월 05일</li>
					</ul>
					<ul>
						<li>상품정보</li><li>가상오피스 3개월 이용권</li>
					</ul>
					<ul>
						<li>임대기간</li><li>2017년 01월 09일(월)~2017년04월09일(월)</li>
					</ul>
					<ul>
						<li>옵션상품 추가</li><li>대회의실 및 미팅룸 5시간 사용</li>
					</ul>
					<ul>
						<li>결제방법</li><li>신용카드</li>
					</ul>
					<ul>
						<li>최종 결제 금액</li>
						<li>624,000(VAT포함)</li>
					</ul>
				</div>
			</section>
			
			<p><input type="button" value="세금계산서 신청"><input type="button" value="영수증발급"></p>
		</div><!--contents 끝-->
		
		
		<!-- 푸터 -->
		<footer class="footer">
			<ul class="info">
				<li>(주)이비즈네트웍스 / 대표이사:박기범</li>
				<li>사업자등록번호:220-87-30865</li>
				<li>서울특별시 강남구 선릉로 99길 12, 4층 (역삼동, 모노타워)</li>
				<li>TEL : 02-6255-3014 / EMAIL : onbiz@ebiznetworks.co.kr</li>

				<li><small>Copyright ⓒ Ebiznetworks, All Rights Reserved.</small></li>
			</ul>
		</footer>
		<!--푸터끝 -->
	</div>
</body>

</html>