/*단계 bar*/
.inf_bar {position: relative; width: 100%;}
.inf_bar li {position: relative; float:left; height: 34px; line-height: 34px; background-color: #F3F3F3; font-size: 12px; font-weight: 500; color: #4C4C4C; text-align: center; width: 33.3%; text-indent: 5px; box-sizing: border-box;}
/* .inf_bar .ib0 {font-weight: 700; width: 40%; font-size: 14px; text-align: left;} */
@media(max-width: 320px) {
	.inf_bar li { letter-spacing: -1px; }
}
.inf_bar .ib2 {background-color: #D0D0D0;}
.inf_bar .ib1, .inf_bar .ib3 {background-color: #E0E0E0;}
.inf_bar li.on {background-color: #5B5B59; color: #fff;}
.inf_bar li:after {z-index: 1; position:absolute; top: 0; right: -25px; content: ""; display: block;
border:17px solid transparent;  border-left-color: #f3f3f3; border-left-width: 8px;}
.inf_bar li.on:after {border-left-color: #5B5B59;}
.inf_bar .ib0:after {border-left-color: #f3f3f3;}
.inf_bar .ib2:after {border-left-color: #d0d0d0;}
.inf_bar .ib3:after {display: none;}

/*main 영역*/
#main h2 {text-align: center; color: #4c4c4c; font-size: 15px; margin-top: 20px;
line-height: 1.3em; font-weight: 600;}
#main div {background-color: #F6F6F6; padding: 6px; font-size: 13px; margin-top: 20px;}

#main div span, #main div label {display: inline-block; font-weight: 600;}
#main div ul li {padding: 3px 0;}
#main div ul li:first-child span {width: 66px;}
#main div ul li:nth-child(2) span {width: 3%; text-align: center;}
#main div ul li:last-child label {width: 131px;}
#main div ul li:nth-child(1) label, #main div ul li:nth-child(2) label 
{width: 60px; margin-right: 5px;}
#main div input {position: relative; top: -1px; font-size: 12px; padding: 4px; width: 120px; 	height: 28px; background-color: #fbfbfb; 
	border-radius: 4px; border: 1px solid #888; text-align: center; box-sizing: border-box;
}
#main div ul li:first-child input {width: 100px;}
#main div ul li:nth-child(2) {margin-left: 70px;}
#main div ul li:nth-child(2) input {width: 22%;}
#main div ul li:nth-child(3) input {width: 39%;}

/*컨텐츠*/
#contents {position: relative; padding: 0 5px; color: #4c4c4c; letter-spacing: -1px;}
#contents h2 {font-size: 15px; font-weight: 700; color: #4c4c4c; text-align: left; line-height: 1em;
padding-bottom: 5px; border-bottom: 1px solid #696969;}
#contents input[type="radio"] {width: 20px; height: 20px; background-size: 50px; background-position: -25px -1px;}
#contents input[type="checkbox"] {width: 16px; height: 16px; margin-right: 3px;}
#contents input[type="checkbox"] + label {position: relative;}

/*임대기간선택 영역*/
.term {border-top: 2px solid #FF912F; margin-top: 12px;}
.term h3 {font-size: 14px; font-weight: 600; text-align: center; background-color: #F3F3F3; padding: 6px 8px; color: #3c3c3c;}
.term > div {display: table; width: 100%;}
.term ul {position: relative; display: table-row; width: 100%;}
.term ul li {display: table-cell; vertical-align: middle;  box-sizing: border-box; text-align: center; font-size: 14px; border-right: 1px solid #EDECEB; border-bottom: 1px solid #edeceb; font-weight: 600; height: 38px;}
.term ul:first-child li { border-bottom: none; background-color: #FF8A17; color: #fff; font-size: 13px; height: 32px;}
.term ul:first-child .t04 span {font-size: 10px; line-height: 0em;}
.term ul li.t04 {border-right: none;}
.term .t01 {width: 12%;}
.term .t02 {width: 19%;}
.term .t03 {width: 27%;}
.term .t04 {width: 42%; text-align: right; padding-right: 6%;}
@media (max-width: 320px){
	.term .t04 {padding-right: 4%;}
}
.term .t04 .sale {display: inline-block; background-color: #ff3600; color: #fff; line-height: 1.6em; padding: 0 3px; margin-right: 3px; font-size: 12px;}

/* 예치금 & 옵션 미선택시에도 */
.ps, .ps2, .ps3 {font-size: 13px; letter-spacing: -1px; margin-top: 10px; line-height: 1.3em;}
.ps span, .ps3 span {display: inline-block; float: left;}
.ps span:first-child, .ps3 span:first-child {width: 12px;}
.ps span:last-child, .ps3 span:last-child {width: 96%;}
.ps2 {font-size: 14px;}
.container {padding: 4px 0; background: #f8f8f8;}
.ps3 {line-height: 1.4em;}
.ps3:after {content: ""; display: block; clear: both;}
/*옵션상품추가 영역*/
/*checkbox 커스터마이징*/
#contents .add input[type="checkbox"] {
	-webkit-border-radius:1px; -webkit-appearance:none;
	display: none; position: absolute;	width: 1px;	height: 1px;
	padding: 0;	margin: -1px;	overflow: hidden;	clip: rect(0, 0, 0, 0);	border: 0
}
#contents .add input[type="checkbox"] + label { width: auto;}
#contents .add input[type="checkbox"] + label:before {
	content: ' ';
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 20px; height: 20px;  
	line-height: 12px; 
	margin: -1px 1px 0 0;
	text-align: center; 
	vertical-align: middle;
	background: #fff;
	border: 1px solid #cacece;
	border-radius : 50%;
}
/*
#contents .add input[type="checkbox"] + label:active:before,
#contents .add input[type="checkbox"]:checked + label:active:before {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
*/
#contents .add input[type="checkbox"]:checked + label:before {
	width: 20px; height: 20px;  
	background-image: url("http://img.onbiz.co.kr/images/m/on_arrow.png"); background-repeat: no-repeat;
	border: none; background-color: #FCAD17;
	background-size: 50px; background-position: -25px -1px;
}
/* add영역*/
.add {border: none; margin-top: 15px; border-top: 2px solid #FF912F;}
.add h3 {background-color: #F3F3F3; padding: 6px 8px;}
.add .t01 {width: 12%;}
.add .t02 {width: 62%;}
.add .t04 {width: 26%; padding-right: 0; text-align: center;}
.add .t02 span {position: relative; display: block; font-size: 12px;}
/*radio checked일 경우*/
.term ul.on li {background-color: #fff7eb;}
.term ul.on .t04 {color: #FF3600; font-weight: 700;}
/* .add p {font-size: 13px; font-weight: 600; line-height: 1.8em;} */

/*결제정보*/
.p_ctgr {border-bottom: 1px solid #ccc;}
.p_ctgr li {float: left; text-align: center; font-size: 13px; padding: 10px 0;}
.p_ctgr li {width: 36%;}
.p_ctgr li + li {width: 32%;}
.p_ctgr li + li + li {width: 32%;}
.p_ctgr li input {margin-right: 2px;}
.p_ctgr li label span {font-size: 12px;}
@media (max-width: 320px){
	.p_ctgr li {font-size: 12px;}
	.p_ctgr li label span {font-size: 11px;}
}
.p_ctgr + p {margin-top: 3px;}
.p_ctgr + p, .p_ctgr + p + p {font-size: 11px; line-height: 1.7em;}

/*결제하실 금액 영역*/
.price {margin-top: 30px; border: 2px solid #EDEDED; box-sizing: border-box; font-weight: 600; padding-bottom: 12px;}
.price h3 {background-color: #F9F9F9; font-size: 20px; padding: 5px 0; text-align: center; border-bottom: 2px solid #EDEDED; font-weight: 600;}
.price > ul {border-bottom: 2px solid #ededed;}
.price > ul li {padding: 0px 18px 12px;}
@media (max-width: 320px){
	.price > ul li {padding: 0px 16px 12px;}
}
.price > ul li:first-child {padding-top: 12px;} 
.price > ul li:after {content: ""; display: block; clear: both;}
.price > ul li p {display: inline-block; float: right; font-size: 14px;}
.price > ul li p + p {letter-spacing: 0px;}
.price > ul li p:first-child {float: left;}

.p_price p + p {font-weight: 800;}
.p_price li:nth-child(2) p:last-child {color: #f93500;}
/* .p_price .hl {color: color: #f93500;} */

.p_total {padding: 10px 0;}
.price .p_total p:first-child {font-size: 18px; line-height: 2.2em;}
.price .p_total p + p {font-size: 30px; color: #f93500; font-weight: 800;}
.p_total p span {display: block; font-size: 16px; margin-top: 1px; text-align: right; font-weight: 600; color: #4c4c4c;}
/*주의 사항 및 약관 동의*/
#panel {margin: 10px 18px 3px 18px;}
#panel > p {position: relative; padding: 3px 22px; background-color: #F3F3F3; border: 1px solid #dedede; border-radius: 6px; transition: all 1s;}
#panel > p.up {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
#panel > p span {display: inline-block; position: absolute; right: 13px; top: 50%; margin-top: -8px; width: 16px; height: 16px; background: url("http://img.onbiz.co.kr/images/m/triangle2.png") no-repeat 95% 50%; float: right; 
	background-size: 16px; cursor: pointer;}
#panel > p.up span {
	background: url("http://img.onbiz.co.kr/images/m/triangle2.png") no-repeat 95% 50%;	
	transform: rotate(180deg); 
}
/* 가리기/보이기 */
.price #panel > p {padding: 6px 10px;}
.price #panel > p label {font-size: 16px; width: auto;}
.price #panel > p label:before {position: relative; top: -1px; margin-right: 5px;}

#contents .price input[type="checkbox"] + label:before {
	content: ' ';
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 16px; height: 16px;  
	font-size: 14px;
	line-height: 13px; 
	margin: -1px 3px 0 0;
	text-align: center; 
	vertical-align: middle;
	background: #fff;
	border: 1px solid #cacece;
	border-radius : 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
#contents .price input[type="checkbox"]:checked + label:before {
	content: '\2714';  
	text-indent: -2px;
	color: #99a1a7;
	text-shadow: 1px 1px #fff;
	background: #e9ecee;
	border-color: #adb8c0;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

#panel .txtara {display: none; position: relative; top: -1px; height: 100px; resize: none; text-align: left; padding: 5px 2px; border: 1px solid #dedede; overflow-y: scroll; overflow-x: hidden; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}
#panel .txtara li {padding: 0; font-size: 14px; font-weight: 400; line-height: 1.3em; text-indent: 14px;}
#panel .txtara .idt {text-indent: 0;}
.ps:after {content: ""; display: block; clear: both;}
.ps {font-size: 13px; letter-spacing: -1px; margin: 3px 0; line-height: 1.3em;}
.ps span {display: inline-block; float: left;}
.ps span:first-child {width: 12px;}
.ps span:last-child {width: 95%;}

/*카드 무이자 할부 혜택 영역*/
.card {letter-spacing: 0; margin-top: 30px;}
.card h3 {font-weight: 600; font-size: 15px; padding-bottom: 5px;}
.card ul {position: relative; width: 100%; border: 1px solid #dedede; box-sizing: border-box;}
.card li {border-top: 1px solid #dedede;}
.card li:first-child {border-top: none;}
.card li:after {content: ""; display: block; clear: both;}
.card p {float: left; height: 36px; font-size: 14px; line-height: 2.5em; font-weight: 600; text-align: center;}
.card p:first-child {width: 40%; background-image: url("http://img.onbiz.co.kr/images/m/card.jpg"); background-size: 130px; background-position: center -2px;}
.card p:nth-child(2) {width: 30%;}
.card p:last-child {width: 30%;}
/*카드 이미지*/
.card p.c01 {}
.card p.c02 {background-position: center -42px;}
.card p.c03 {background-position: center -82px;}
.card p.c04 {background-position: center -122px;}
.card p.c05 {background-position: center -164px;}
.card p.c06 {background-position: center -204px;}
.card p.c07 {background-position: center -244px;}
.card p.c08 {background-position: center -282px;}
.card p.c09 {background-position: center -328px;}

/*결제하기 버튼*/
.btn_wrap input {display: block; width: 100%; color: #fff; font-size: 28px; line-height: 2.2em; margin: 10px auto 20px; border: none; background: #F93500; cursor: pointer;}

