@charset "utf-8";
@import url("http://static.onbiz.co.kr/css/guide/banner.css");

/*네비게이션 바*/
#nb h2 + a {display: inline-block; width: 233px; height: 37px; border-radius: 4px; background: #444; color: #fff; font-weight: 600; line-height: 2.4em; text-align: center; letter-spacing: -1px; float: right;}
#nb h2 + a > span {position: relative; left: -10px; top: 8px; display: inline-block; float:right; overflow: hidden;
width: 13px; height: 20px;}
#nb h2 + a > span img {position: relative; width: 70px; top: -19px; left: 0px;}
/*메인 영역*/
#main {padding-top: 44px;}
#main > ul {display: table; text-align: center; margin: 30px auto 20px;}
#main > ul li {display: table-cell; float: left; padding: 20px 40px; border-radius: 100px; background: #ff9000; color: #fff; font-weight: 600; font-size: 18px; margin-left: 30px;}
#main > ul li:first-child {margin-left: 0;}
#main > ul li:first-child + li, #main > ul li:first-child + li + li + li {background: #999999;}

/* 신청하기 영역 */
.container {position: relative; padding: 30px 40px 30px; background: #F9F9F9; box-sizing: border-box; border: 1px solid #ddd;}
.c_form {position: relative;}
.c_form h3 {position: absolute; top: 0; left: 0; font-size: 21px; line-height: 1.3em;}
.c_form h3 span {display: block;}
.c_form ul {position: relative; width: 294px; margin-left: 200px; border-right: 1px solid #ddd;} 
.c_form li {margin-top: 9px; color: #888;}
.c_form li:first-child {margin-top: 0px;}
.c_form li > label {display: inline-block; font-size: 15px; width: 88px; text-indent: 0px; color: #333;}
.c_form li > input {width: 195px; height: 30px; border: 1px solid #a9a9a9; text-indent: 15px; font-size: 15px;}
.c_form li > input:focus {color: #333; outline: none; border: 2px solid #ff9000;}

.c_form .select_wrap {position: absolute; bottom: 0; left: 504px; }
.c_form .select_wrap label {display: block; text-align: center; margin-bottom: 6px; font-size: 15px;}
.c_form .selectBox {display: inline-block; width: 195px;}

/*신청하기 버튼*/
.nBtn {position: absolute; display: block; top: 0px; margin-top: 2px; right: 0px; width: 180px; height: 67px; background: #ff9000; color: #fff; font-size: 20px; font-weight: 700; border-radius: 4px; text-align: center; line-height: 3.5em;}
.nBtn i {position: relative; left: -10px; top: 24px; display: inline-block; float:right; overflow: hidden;
  width: 15px; height: 22px;}
.nBtn i img {position: relative; width: 74px; top: -36px; left: 0px;}

/*안내 설명글 영역*/
.guide {margin-top: 50px; padding: 0px 30px;}
.guide > div {float: left; }
.guide > div:first-child {width: 540px;}
.guide > div:first-child + div {width: 380px;}
.guide li {color: #333; font-size: 15px; line-height: 1.5em;}
.guide li h2 {display: inline-block; font-size: 18px; position: relative; left: 32px;}
.guide li:first-child span {position: absolute; display: block; top: -5px; width: 30px; height: 30px; background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -180px;}
.guide li:first-child + li {margin-top: 20px;}

/*자주묻는 질문 FAQ*/
.faq {position: relative; margin: 50px 0}
.faq > h3 {font-size: 26px; padding: 0 0 10px 10px; border-bottom: 1px solid #222;}
.faq > h3 > span {font-size: 16px; margin-left: 20px;}
.faq .f_table {position: relative;}
.f_q, .f_a {position: relative; font-size: 15px; border-bottom: 1px solid #bdbdbd; padding: 17px 5px 16px 75px; font-weight: 600;}
.f_q {cursor: pointer;}
.f_a {color: #444; background: #f9f9f9; line-height: 1.3em; display: none;}
.q_icon, .a_icon {position: absolute; display: inline-block; width: 26px; height: 26px; background: #666; border-radius: 50%; color: #fff; text-align: center; top: 13px; left: 35px; line-height: 1.6em;}
.a_icon {background: #ff9000;}

.f_a > a {display: block;}
.f_a .mt {margin-top: 17px;}
.f_a a:hover {text-decoration: underline}
/*버튼*/
.fBtn {position: relative; display: block; margin: 20px auto 0; width: 240px; height: 47px; background: #ff9000; color: #fff; font-size: 20px; font-weight: 700; border-radius: 4px; text-align: center; line-height: 2.5em;}
.fBtn i {position: relative; left: -10px; top: 14px; display: inline-block; float:right; overflow: hidden;
  width: 15px; height: 22px;}
.fBtn i img {position: relative; width: 74px; top: -25px; left: 0px;}

/*모바일 디자인 미디어쿼리*/
.m_private {display: none;}
/*모바일 디자인 css*/
@media (max-width: 767px) {
  /*메인 영역*/
  #main {padding-top: 44px;}
  #main > ul {display: table; text-align: center; margin: 30px auto 20px;}
  #main > ul li {display: table-cell; float: left; padding: 20px 40px; border-radius: 100px; background: #ff9000; color: #fff; font-weight: 600; font-size: 18px; margin-left: 30px;}
  #main > ul li:first-child {margin-left: 0;}
  #main > ul li:first-child + li, #main > ul li:first-child + li + li + li {background: #999999;}

  /* 신청하기 영역 */
  .container {position: relative; padding: 30px 40px 30px; background: #F9F9F9; box-sizing: border-box; border: 1px solid #ddd;}
  .c_form {position: relative;}
  .c_form h3 {position: absolute; top: 0; left: 0; font-size: 21px; line-height: 1.3em;}
  .c_form h3 span {display: block;}
  .c_form ul {position: relative; width: 294px; margin-left: 200px; border-right: 1px solid #ddd;} 
  .c_form li {margin-top: 9px; color: #888;}
  .c_form li:first-child {margin-top: 0px;}
  .c_form li > label {display: inline-block; font-size: 15px; width: 88px; text-indent: 0px; color: #333;}
  .c_form li > input {width: 195px; height: 30px; border: 1px solid #a9a9a9; text-indent: 15px; font-size: 15px;}
  .c_form li > input:focus {color: #333; outline: none; border: 2px solid #ff9000;}

  .c_form .select_wrap {position: absolute; bottom: 0; left: 504px; }
  .c_form .select_wrap label {display: block; text-align: center; margin-bottom: 6px; font-size: 15px;}
  .c_form .selectBox {display: inline-block; width: 195px;}
  .c_form .selectBox i {color: #333;}

  /*신청하기 버튼*/
  .nBtn {position: absolute; display: block; top: 0px; margin-top: 2px; right: 0px; width: 180px; height: 67px; background: #ff9000; color: #fff; font-size: 20px; font-weight: 700; border-radius: 4px; text-align: center; line-height: 3.5em;}
  .nBtn i {position: relative; left: -10px; top: 24px; display: inline-block; float:right; overflow: hidden;
    width: 15px; height: 22px;}
  .nBtn i img {position: relative; width: 74px; top: -36px; left: 0px;}

  /*안내 설명글 영역*/
  .guide {margin-top: 50px; padding: 0px 30px;}
  .guide > div {float: left; }
  .guide > div:first-child {width: 540px;}
  .guide > div:first-child + div {width: 380px;}
  .guide li {color: #333; font-size: 15px; line-height: 1.5em;}
  .guide li h2 {display: inline-block; font-size: 18px; position: relative; left: 32px;}
  .guide li:first-child span {content: ""; position: absolute; display: block; top: -5px; width: 30px; height: 30px; background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -180px;}
  .guide li:first-child + li {margin-top: 20px;}

  /*자주묻는 질문 FAQ*/
  .faq {position: relative; margin: 50px 0}
  .faq > h3 {font-size: 26px; padding: 0 0 10px 10px; border-bottom: 1px solid #222;}
  .faq > h3 > span {font-size: 16px; margin-left: 20px;}
  .faq .f_table {position: relative;}
  .f_q, .f_a {position: relative; font-size: 15px; border-bottom: 1px solid #bdbdbd; padding: 17px 5px 16px 75px; font-weight: 600;}
  .f_q {cursor: pointer;}
  .f_a {color: #444; background: #f9f9f9; line-height: 1.3em; display: none;}
  .q_icon, .a_icon {position: absolute; display: inline-block; width: 26px; height: 26px; background: #666; border-radius: 50%; color: #fff; text-align: center; top: 13px; left: 35px; line-height: 1.6em;}
  .a_icon {background: #ff9000;}

  .f_a > a {display: block;}
  .f_a .mt {margin-top: 17px;}
  .f_a a:hover {text-decoration: underline}
  /*버튼*/
  .fBtn {position: relative; display: block; margin: 20px auto 0; width: 240px; height: 47px; background: #ff9000; color: #fff; font-size: 20px; font-weight: 700; border-radius: 4px; text-align: center; line-height: 2.5em;}
  .fBtn i {position: relative; left: -10px; top: 14px; display: inline-block; float:right; overflow: hidden;
    width: 15px; height: 22px;}
  .fBtn i img {position: relative; width: 74px; top: -25px; left: 0px;}

  /* 모바일 시작 -------------------------------------------------------------------------------------------------------------- */
  .m_private {display: block;}
  #main, #contents {width: 100%; padding: 0 5px;}
  
  /*헤더*/
  .headerOrigin {border-bottom: 4px solid #4c4c4c; padding-top: 18px;}
  .headerOrigin h2 a.nav_tab {float: right; position: relative; top: 1px; display: inline-block; width: 140px; height: 28px; display: block; text-align: center; line-height: 2em; font-size: 14px;  color: #fff; background: #4c4c4c;
  border-radius: 4px;}
  .headerOrigin h2 a.nav_tab i {position: relative; top: 2px; left: 2px; left: 0px; font-size: 18px;}
  
  #main {padding: 20px 0 4px;}
  #main > h3:first-child {display: none;}
  #main .mTxt {color: #333; text-align: center; letter-spacing: -1px;}
  #main .mTxt h3 {font-size: 28px; font-weight: 800; }
  #main .mTxt p {font-weight: 600; font-size: 17px; line-height: 1.3em; color: #4c4c4c; padding: 0 50px;}
  #main .mTxt .mt {margin-top: 14px;}
  #main .mTxt p .fc {color: #ff9000;}
  
  #main .mTxt p .bl {display: block;}
  /* #main .mTxt p .bl2 {display: block;} */
  
  #main > ul {position: relative; display: table; margin: 12px auto;}
  #main > ul li {display: table-cell; text-align: center; padding: 11px 0; width: 153px; height: 60px; margin: 4px 0; font-size: 16px; line-height: 1.2em;}
  /*#main > ul li {margin-left: 14px;}*/
  
  
  /*정보등록*/
  .container {padding: 15px;}
  .c_form h3 {position: relative; text-align: center; font-size: 18px;}
  .c_form h3 span {display: inline;}
  .c_form ul {margin: 14px auto; width: 100%; border-right: none;}
  .c_form li > label {width: 25%; text-indent: 0px;}
  .c_form li > input, .c_form .selectBox {width: 75%;}
  
  .c_form .select_wrap label {display: inline-block; width: 25%; text-align: left;}
  .c_form .select_wrap {position: relative; left: 0;}
  .c_form .select_wrap label > span {display: none;}
  
  .nBtn {position: relative; top: 0; margin-top: 10px; left: 0; margin-left: 0; width: 100%; height: 48px; line-height: 2.7em; font-size: 18px; letter-spacing: -1px}
  .nBtn i {top: 16px; }
  .nBtn i img {top: -27px;}
  
  /*상세설명*/
  .guide {margin: 0; padding: 0;}
  .guide > div {position: relative; margin-top: 30px; float: none;}
  .guide > div:first-child, .guide > div:first-child + div {width: 100%; padding-left: 14px;}
  .guide li h2 {font-size: 16px; left: 28px; letter-spacing: 0;}
  .guide li:first-child span {top: -7px;}
  .guide li:first-child:before {width: 24px; height: 24px; background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -142px; background-size: 24px;}
  .guide li:first-child + li {margin-top: 10px;}
  .guide li {font-size: 14px; letter-spacing: -1px; color: #676767;}
  
  /*자주묻는 질문*/
  .faq > h3 {font-size: 18px; padding: 0px 0 3px 0;}
  .faq > h3 > span {display: inline-block; margin-left: 0; font-size: 13px; color: #888; letter-spacing: -1px;}
  .f_q, .f_a {font-size: 14px;  padding: 13px 5px 12px 33px; letter-spacing: -1px; /*font-weight: 400;*/}
  .q_icon, .a_icon {font-size: 13px; width: 22px; height: 22px; top: 10px; left: 5px; line-height: 1.7em;}
  /*버튼*/
  .fBtn {width: 100%;}
}
@media all and (max-width: 630px){
  #main .mTxt p {padding: 0; font-size: 15px;}
  /* #main .mTxt p .bl {display: block;} */
  
  
  #main > ul {display: block; position: relative; width: 320px; margin: 12px auto;}
  #main > ul li {display: block;}
  #main > ul li:first-child + li, #main > ul li:first-child + li + li + li {margin-left: 14px;}
  
}
@media all and (max-width: 480px){
  .guide > div:first-child, .guide > div:first-child + div {padding-left: 0px;}
}
@media all and (max-width: 375px){
  
  .guide li {font-size: 13px;}
}
@media all and (max-device-width: 320px){
  .headerOrigin {padding: 18px 5px 0 3px;}
  .headerOrigin h2 a.nav_tab {line-height: 2.1em; font-size: 13px; width: 130px; top: 2px;}
  #main .mTxt p {font-size: 14px;}
  #main > ul {width: 320px; padding-left: 14px;}
  #main > ul li {width: 139px;}
  
  .c_form .select_wrap label, .c_form li > label {font-size: 14px; letter-spacing: -1px;}
  
  .guide li span {display: block; text-indent: 6px;}
  
  .faq > h3 > span {font-size: 12px;}
}