/* -- 공통 css -- */
* {margin:0; padding:0; font-family: 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif,Helvetica,AppleGothic;}
ul,ol {list-style-type:none;}
a {text-decoration:none;}
input {-webkit-border-radius:1px; -webkit-appearance:none;}
select {
	-webkit-border-radius:1px;
	-webkit-appearance:none;
	-moz-appearance: none; 
	appearance: none; 
	background: url("http://img.onbiz.co.kr/images/triangle.png") no-repeat 95% 50%;
}
textarea {-webkit-border-radius:1px; -webkit-appearance:none;}
strong {font-weight: bold;}

.clr:before, .clr:after {content:""; display:block;}
.clr:after {clear:both;}

#wrap {width:100%; position:relative; margin:0 auto; overflow: hidden;}

 
/* 헤더영역 */
.headerOrigin {position: relative; width: 100%;height: 50px;background: #000;}
.headerOrigin h1 {position: relative; top: 8px; left: 10px; color: #d0d1d1; font-size: 28px; }
.headerOrigin a {position: absolute; top: 11px;	right: 10px; display: block; padding: 4px 8px; color: #eee; font-size: 14px; border:1px solid #eee; border-radius: 3px;}

.header {width:100%; height:60px; float:left; background-color:#3b3938;}
h2 {font-weight:bold; font-size:22px;  margin-top:10px; text-align:center; color: #ff8921;}
.header h2 span {font-size:18px;}
.h_txt_1 {font-size:13px; letter-spacing:-1px; text-align:center; color: #fff;}
/* .h_txt_2 {font-size:12px; float:right; color:rgb(255, 137, 33); padding-right:5px; padding-top:8px; letter-spacing:-1px;} */

/* 푸터영역 */
/* 푸터 */
.footer {width:100%; height: 200px; float:left; background-color:#F2F2F2; border-bottom:10px solid gray;}
.info {width:100%; float:left; font-size:11px; margin:15px 0; color:#2E2E2E;}
.info li {text-align:center; margin-top:5px;}

/* 전체 네비게이션 */
#gnb {z-index: 20;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.905); color:#fff;}
.clsBtn, .ph, .mp {display: block; width: 50px;height: 48px;background-image:url("http://img.onbiz.co.kr/images/menuIcon.png"); background-repeat: no-repeat; background-size: 120px; }
.clsBtn {position: absolute;top: 10px; right: 10px; background-position: -71px 0px; }
#gnb h2 {color: #fff; font-size: 24px; font-weight: 400; margin-top: 10px;}
#gnb h3 {color: #FB7C00; font-weight: 400; font-size: 34px; text-align: center; margin-top: 60px;}
nav.menu ul li {text-align: center; margin-top: 18px}
nav.menu ul li:first-child {margin-top: 28px;}
nav.menu a {color:#fff; font-size: 20px}
.wrap_ntc {position:relative; width: 350px; height: 130px; margin: 0 auto; margin-top: 60px; border:1px solid #fff; border-radius: 2px;}
.wrap_ntc li {float:left; text-align: center; width: 50%; box-sizing: border-box;}
.wrap_ntc li:first-child {border-right: 1px solid #fff; height: 100%;}
.ph, .mp { margin: 0 auto; margin-top: 4px; background-position: 5px 0px; }
.mp {background-position: -35px 0;}
.ph + p, .mp + p {font-size: 14px; margin-bottom: 8px;}
.wrap_ntc p {line-height: 1.4em; font-weight: 600;}