/*단계 bar*/
.inf_bar {position: relative; width: 100%;}
.inf_bar li {position: relative; float:left; height: 34px; line-height: 34px; background-color: #F3F3F3; font-size: 12px; font-weight: 500; color: #4C4C4C; text-align: center; width: 20%; text-indent: 5px; box-sizing: border-box;}
.inf_bar .ib0 {font-weight: 700; width: 40%; font-size: 14px; text-align: left;}
.inf_bar .ib2 {background-color: #D0D0D0;}
.inf_bar .ib1 {background-color: #E0E0E0;}
.inf_bar li.on {background-color: #5B5B59; color: #fff;}
.inf_bar li:after {z-index: 1; position:absolute; top: 0; right: -25px; content: ""; display: block;
border:17px solid transparent;  border-left-color: #f3f3f3; border-left-width: 8px;}
.inf_bar li.on:after {border-left-color: #5B5B59;}
.inf_bar .ib1:after {border-left-color: #e0e0e0;}
.inf_bar .ib2:after {border-left-color: #d0d0d0;}
.inf_bar .ib3:after {display: none;}

/*main 섹션*/
#main {letter-spacing: -1px;}
#main h2 {color: #3C3C3C; font-size: 54px; font-weight: 600; margin-top: 28px;}
#main h2 span:first-child {display: inline-block; color: #fff; background-color: #3c3c3c; height: 43px; width: 168px; line-height: 0.8em;}
#main h2 span:last-child {position: relative; left: -4px;}
#main h2 + p {margin-top: 12px;}
#main p {color: #ff7700; font-weight: 600; text-align: center; line-height: 1.3em;}
#main h2 + p + p {color: #4c4c4c; font-size: 14px; margin-top: 10px;}
@media (max-width: 320px){
	#main p {font-size: 14px}
	#main h2 + p + p {font-size: 13px;}
}

/*컨텐츠*/
#contents {position: relative; margin: 0 5px; margin-top: 30px; color: #4c4c4c; border-top: 1px dashed #e0e0e0;
padding-bottom: 40px;}
#contents h2 {font-size: 12px; font-weight: 700; color: #4c4c4c; text-align: left; line-height: 1em; letter-spacing: -1px; margin-top: 24px;}
#contents h2 span:first-child {position: relative; top: 2px; width: 12px; height: 12px; background-size: 28px;}

/*방법1, 방법2*/
.way {position: relative; margin-top: 8px; text-align: center;}
.way ul li {float: left; box-sizing: border-box; width: 50%;}
.way ul li div {border: 1px solid #8c8c8c; border-radius: 3px; height: 145px; font-weight: 600;}
.way ul li:first-child div {margin-right: 2px;}
.way ul li:last-child div {margin-left: 2px;}
.way h3 {position: relative; font-size: 16px; font-weight: 600; padding: 10px 0 0 ; z-index: 1;}
.way div {position: relative;}
.way div span {position: absolute; content: ""; display: block; width: 47px; height: 8px; background-color: #E1E0DD; top: 21px; left: 50%; margin-left: -24px; }
.way li div p {width: 100%; font-size: 13px; margin: 15px 0; letter-spacing: -1px;}
.way li:first-child div p {width: 100%; font-size: 13px; margin: 23px 0;}
.way li div input {width: 68%; color: #fff; background-color: #FF9320; border: none; border-radius: 3px;
padding: 10px 4px;}
@media (max-width: 320px){
	.way li div input {width: 69%; font-size: 12px;}
}
.way > p {margin-top: 8px; font-size: 12px; text-align: left;}
.way > p span:first-child {font-weight: 600;}
.way > p span + span {display: inline-block; text-indent: 15px;}

/*계약서 다운로드, 계약서에 사인하기 버튼*/
.btn_wrap {margin-top: 20px;}
.btn_wrap li {position: relative; float: left; width: 50%; box-sizing: border-box;}
.btn_wrap li:first-child div {margin-right: 2px;}
.btn_wrap li:last-child div {margin-left: 2px;}
.btn_wrap li input {display: inline-block; width: 100%; background-color: #FF9320; font-size: 14px; font-weight: 600; color: #fff; border: none; padding: 15px 0; border-radius: 4px; letter-spacing: -1px;}
.btn_wrap li:first-child input { background-color: #515151;}

/*전자서명하기, 도장이미지 업로드, 모달창*/
#backDrop {display: block;}
#sign_wrap {z-index: 21; position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.sign { position: relative; width: 96%; height: 330px; margin: 0 auto; top: 110px;
background: #fff; border-radius: 4px;}
.sign_clsBtn {position: absolute; width: 32px; height: 38px; top: 0px; right: 2%;}
.sign_clsBtn > span {display: block; position: absolute; top: 18px; right: -5px; width: 32px; height: 2px; background: #727272;}
.sign_clsBtn .sc_01 {
	-ms-transform: rotate(50deg); /* IE 9 */
	-webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
	transform: rotate(50deg);
}
.sign_clsBtn .sc_02 {
	-ms-transform: rotate(-50deg); /* IE 9 */
	-webkit-transform: rotate(-50deg); /* Chrome, Safari, Opera */
	transform: rotate(-50deg);
}
