.inf_bar {position: relative; width: 100%;}
.inf_bar li {position: relative; float:left; padding: 10px 0; background-color: #F3F3F3; font-size: 12px; font-weight: 500; text-align: center; width: 20%;}
.inf_bar .ib0 {color: #4C4C4C; font-weight: 700; width: 40%; font-size: 14px; text-align: left; text-indent: 5px;}
.inf_bar .ib2 {background-color: #D0D0D0;}
.inf_bar .ib3 {background-color: #E0E0E0;}
.inf_bar li.on {background-color: #5B5B59; color: #fff;}
.inf_bar li:after {position:absolute; top: 0; right: 0; content: ""; display: block;
border:1px solid #d0d0d0; border-color: transparent; border-left-color: #d0d0d0; border-left-width: 3px; width: 1px; height: 32px;}