@charset "utf-8";
/* 폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {margin:0; padding:0; font-family: 'Nanum Gothic', 'Malgun Gothic', sans-serif;}
body, * {box-sizing: border-box;}
ul,ol {list-style-type:none;}
a {text-decoration:none; color: #434343;}

.in {display: inline;}

/* input, label 설정 */
input[type="reset"], input[type="button"] {cursor: pointer;}
input[type="checkbox"] + label, input[type="radio"] + label {vertical-align: middle;}
input[type="checkbox"], input[type="radio"] {vertical-align: middle;}
input[type="reset"], input[type="checkbox"], input[type="text"], input[type="radio"], input[type="button"] {-webkit-border-radius:1px; -webkit-appearance:none;}

select {
	-webkit-border-radius:1px;
	-webkit-appearance:none; 
	-moz-appearance: none; 
	appearance: none; 
	background: url("http://img.onbiz.co.kr/images/m/triangle2.png") no-repeat 95% 50%;
	background-size: 12px;
	background-color: #fff;
}
.selectBox {z-index: 1; position: relative;  width: 431px;}
.s_btn {position: relative; width: 100%; height: 36px; font-size:14px; border:1px solid #aeaeae; text-indent: 15px; cursor:pointer;
  background: #ffffff; 
  background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); 
  background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); 
  background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); 
} 	
.selectBox i {position: absolute; right: 10px; top: 2px; font-size: 32px; cursor: pointer;}
.selectBox ul {display: none; position: absolute; width: 100%; top: 35px; z-index: 1; background: #fff; border: 1px solid #aeaeae; font-size: 14px; padding: 8px 15px;}
.selectBox ul li {margin-top: 8px; cursor: pointer;}
.selectBox ul li:first-child {margin-top: 0;}
textarea {-webkit-border-radius:1px; -webkit-appearance:none;}
strong {font-weight: bold;}
input[type="checkbox"] + label, input[type="radio"] + label {
	cursor: pointer; 
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/*
input[type=radio] {position: relative; width: 30px; height: 30px; cursor: pointer;
  background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -30px;
}
input[type=radio]:checked {border: none;
  background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -60px;
}
*/

input[type="radio"] {display: none;}
input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  position: relative; top: 6px; width: 30px; height: 30px; cursor: pointer;
  background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -30px;
}
input[type="radio"]:checked + label:before,
input[type="radio"] + label:active:before,
input[type="radio"]:checked + label:active:before {
  background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -60px;
}

input[type="checkbox"] {
	-webkit-border-radius:1px; -webkit-appearance:none;
	display: none;
 	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}
input[type="checkbox"] {position: relative; width: 14px; height: 14px;}
input[type="checkbox"] + label {position: relative; display: inline-block; font-size: 11px; text-align: left; font-size: 13px;}
input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  position: relative; top: 5px; right: 3px; width: 14px; height: 14px; cursor: pointer;
  border: 1px solid #a9a9a9; background: #eee;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"] + label:active:before,
input[type="checkbox"]:checked + label:active:before {
  background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -82px;
  background-size: 16px; background-color: #ff9000; border-color: #ff9000;
}

/* 전체 영역 */
#wrap {position:relative; width:100%;}
section {position: relative;}
/* 헤더 영역 */
.h_wrap {width: 100%; padding-bottom: 10px; border-bottom: 1px solid #ededed;}
/*로고*/
/* background:url('http://img.onbiz.co.kr/gnb_Bg01.gif') no-repeat; */
#header {width: 980px; margin: 0 auto; padding-top: 15px;}
#header h2 {float: left; width: 467px;}
/*글로벌네비게이션*/
.g_wrap {width: 390px; float: right;}
#gnb {background: #f0eeee;}
#gnb h2 {display: inline-block; width: 157px; height: 35px; color: #fff; line-height: 2.1em; text-align: center;
	background:url('http://img.onbiz.co.kr/gnb_Bg01.gif') no-repeat; font-size: 17px; font-weight: 700;}
#gnb h2 a {color: #fff;}
#gnb h2, #gnb ul {float: left;}
#gnb ul {margin-left: 20px;}
#gnb ul li {float:left; line-height: 2.2em; margin-right: 10px; text-align: center;}
#gnb ul li:nth-child(2) {position: relative; top: 1px;}
#gnb ul li a {font-size: 14px;}
#gnb a {display: inline-block; height: 35px;}
.g_wrap p {text-align: right; margin-top: 10px; font-size: 14px; color: #ff7e3f;}

/*네이게이션 바*/
#nb {width: 980px; margin: 35px auto 0; height: 45px; border-bottom: 4px solid #676767;}
#nb h2 {font-size: 28px; color: #333;}
#nb h2, #nb ul {float: left;}
#nb ul {float: right;}
#nb ul li {float:left; font-size: 17px; font-weight: 500; color: #aaa; line-height: 2em;}
#nb ul li:first-child {line-height: 2.9em}
#nb ul li:before {content: ""; display: inline-block; position: relative; top: 9px; width: 30px; height: 30px; background:  url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center top; }
#nb ul li:first-child:before {display: none;}
#nb ul li.on {color: #444; font-weight: 600;}

/*메인 영역 & 콘텐츠 영역*/
#main, #contents {width: 980px; margin: 0 auto;}

/* 푸터 영역 */
#footer {width:100%; background: #fff; padding: 10px 0; margin-top: 20px; border-top: 1px solid #cfcfcf;}
#footer p, address {font-size:15px; color:#696969; text-align: center;}
#footer p a {position: relative; display: inline-block; color: #24D7E5;  padding: 0px 5px; margin-left: 5px;
/* border: 1px solid #ff8840; border-radius: 3px; background: #f7f7f7; */}