<!DOCTYPE html>
<html lang="ko-KR">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">

<meta name="title" content="온비즈오피스" />
<meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대" />
<meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta name="keywords" content="가상오피스, 80평, 분할임대, 삼성역, 풀옵션,Onbiz Office" />
<meta name="classification" content="소호사무실" />

<!-- 오픈그래프 -->
<meta property="og:title" content="온비즈오피스">
<meta property="og:url" content="http://onbiz.co.kr">
<meta property="og:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">
<meta property="Description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://onbiz.co.kr">
<meta name="twitter:title" content="온비즈오피스">
<meta name="twitter:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta name="twitter:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">

<!-- Android icon -->
<link rel="shortcut icon" type="image/x-ico" href="http://img.onbiz.co.kr/favicon/icon128x128.png" />
<!-- iPhone icon -->
<link rel="apple-touch-icon" type="image/x-ico" sizes="57x57" href="http://img.onbiz.co.kr/favicon/icon57x57.png" />
<!-- iPad icon -->
<link rel="apple-touch-icon" type="image/x-ico" sizes="72x72" href="http://img.onbiz.co.kr/favicon/icon72x72.png" />
<!-- iPhone icon(Retina) -->
<link rel="apple-touch-icon" type="image/x-ico" sizes="114x114" href="http://img.onbiz.co.kr/favicon/icon114x114.png" />
<!-- iPad icon(Retina) -->
<link rel="apple-touch-icon" type="image/x-ico" sizes="144x144" href="http://img.onbiz.co.kr/favicon/icon144x144.png" />

<title>온비즈결제페이지</title>

<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
<link rel="stylesheet" href="http://static.onbiz.co.kr/css/common_renewal.css" type="text/css">
<link rel="stylesheet" href="http://static.onbiz.co.kr/css/complete/complete.css" type="text/css">
<link rel="stylesheet" href="http://static.onbiz.co.kr/css/partners.css" type="text/css">

<script src="http://static.onbiz.co.kr/js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="http://static.onbiz.co.kr/js/partners.js" type="text/javascript"></script>

<!-- ie9이하 input꾸미기, nth-child 셀렉터 작동, html5, 미디어쿼리 작동 -->
<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>
<div id="wrap">
	<!-- 상단 지역선택 추가 -->
	<div class="region_wrap">
		<div class="region_box clr">
			<p class="nth-1">온비즈오피스<span class="l_icon">ㅣ</span><span class="fc1">문의전화: 010-4429-3013, 010-4429-3019 (24시간 계약가능)</span></p>
			<p class="nth-2"><!--a href="http://gwangju.onbiz.co.kr" class="a1">광주<span>&gt;</span></a><a href="http://busan.onbiz.co.kr" class="a2">부산<span>&gt;</span></a--></p>
		</div>
	</div>
	
	<!-- 헤더  -->
	<div class="h_wrap">
		<header id="header" class="clr">
			<h2 class="in"><a href="/"><img src="http://img.onbiz.co.kr/logo.gif" alt="온비트오피스로고"></a></h2>
			<div class="g_wrap">
				<nav id="gnb" class="clr">
					<h2><a href="/info/guide.php">가상오피스 임대신청</a> <span>&gt;</span></h2>
					<ul class="clr">
						<li onclick="layer_on('loginWraper')"><a href="#">임대 신청내역 확인</a> <span>&gt;</span></li>
					</ul>
				</nav>
				<p class="tel">가맹점 모집: 010-4429-3013</p>
			</div>
		</header>
	</div>

	<div class="t_wrap">
		<ul class="top_menu" style="width:1200px;">
			<li><a href="/?num=1">홈</a></li>
			<li><a href="/?num=2">소개</a></li>
			<li><a href="#">가맹점모집</a></li>
			<li><a href="/?num=3">서비스</a></li>
 			<li><a href="/?num=4">입주사</a></li>
			<li><a href="/?num=5">둘러보기</a></li>
			<li><a href="/?num=6">오시는길</a></li>
		</ul>
	</div>
	<section class="sec intro">
		<div class="wrap">
			<div class="indicator" style="left:200px;left: 50%; margin-left: -750px;z-index:99999999;text-align:left;left: 50%; margin-left: -40%;">
				<p>가맹점모집</p>
				<ul>
					<li class="on"><a href="#">온비즈 소개</a></li>
					<li><a href="#">개설특장점</a></li>
					<li><a href="#">개설절차</a></li>
					<li><a href="#">예상수익률</a></li>
					<li><a href="#">개설문의</a></li>
				</ul>
			</div>
			<div class="ancor" style="display: none;">
				<a href="#"><img src="http://img.onbiz.co.kr/top_btn.png"></a>
			</div>
			<h4 class="title" style="margin-top: 0px;">Why, Onbiz Office?</h4>
			<p class="s_txt02">
				온비즈 오피스는 중심업무지구(Central Business District)의 프라임급 오피스에 위치하고 수준높은<br>
				고객들의 눈높이에 맞는 높은 퀄리티의 시설과 서비스 수준을 유지하여 최적의 오피스 환경 및 시스템 제공을 약속합니다.
			</p>
			<div class="info">
				<ul>
					<li>
						<strong>뛰어난 접근성</strong>
						<p>
							서울 지하철 및 대중교통의 중심지로 대중교통 시설의 이용과 접근성이 매우 뛰어납니다.<br>
							(2호선 삼성역에서 보도 10분, 분당선 선릉역에서 보도 15분 소요 )
						</p>
					</li>
					<li>
						<strong>고급스런 인테리어와 넓은 공간감</strong>
						<p>
							사무공간(각실) 우선확보의 수익우선적 평면계획과 사무용 가구배치를 지양하고, 고객과 클라이언트들에게 보다<br>
							고급스런 이미지를 부여하기 위하여 넓은 복도와 부대공간,고급 소재의 맞춤형 사무가구를 지향하였습니다.
						</p>
					</li>
					<li>
						<strong>편리하고 안전한 온비즈오피스만의 시스템 </strong>
						<p>
							초고속 인터넷 시스템으로 업무의 편리성을 도모,안전사고 예방을 위한 CCTV 설치및 보안 시스템 구축.<br>
							재난피해 등의 보험상품 가입으로 고객의 안전과 자산보호에 우선 하였고, 매일 신문 및 주간 경제지 제공과 우편물 접수 및 전달,<br>
							쾌적한 냉난방 24시간 제공으로 고객과 고객의 클라이언트들에게 높은 수준의 오피스 서비스를 제공하도록 최선을 다하고있습니다.
						</p>
					</li>
					<li>
						<strong>갑질 논란없는 본사</strong>
						<p>
							과도한 물품 구매 비용 청구를 하지 않습니다.<br>
							3년마다 인테리어 리뉴얼을 강요하는 등의 행위를 하지않습니다.(기본적으로 내구연한이 높은 자재 사용)<br>
							일방적으로 계약 해지나 과도한 위약금을 부과하지 않습니다.
						</p>
					</li>
				</ul>
			</div>
			<h4 class="title">가상오피스</h4>
			<p class="s_txt01">사무실을 필요로 하지 않는 고객을 위한 신개념 서비스</p>
			<p class="s_txt02">사무실 또는 집무실이 필요치 않는 비즈니스를 하는 법인(개인)고객들에게 주소지 또는 국선전화(1회선)를 포함하여 제공하며, 비즈니스에 필요한 인적 서비스도 가능한 명목상의 오피스입니다.</p>
			<ul class="office">
				<li>
					<div class="top">
						<p>사업장 주소제공</p>
					</div>
					<div class="btm">
						<p>
							 선릉역  업무중심지<br>
							(Central Business<br>
							District)에<br>
							사업장 주소지 제공
						</p>
					</div>
				</li>
				<li>
					<div class="top">
						<p>우편물 알림 서비스</p>
					</div>
					<div class="btm">
						<p>
							중요 우편물 수신<br>
							SNS 또는 e0mail<br>
							알람 서비스
						</p>
					</div>
				</li>
				<li>
					<div class="top">
						<p>
							국선전화개통<br>
							(착신&amp;전화응대)
						</p>
					</div>
					<div class="btm">
						<p>
							국선전화 개통 후<br>
							착신서비스<br>
							전용전화번호 제공 및<br>
							응대서비스
						</p>
					</div>
				</li>
				<li>
					<div class="top">
						<p>
							오프라인<br>
							오피스 이용
						</p>
					</div>
					<div class="btm">
						<p>
							라운지, 컨퍼런스룸 및<br>
							미팅룸 이용은  예약 후<br>
							사용이가능 합니다.<br>
							OA기기 사용
						</p>
					</div>
				</li>
			</ul>
			<p class="s_txt04">※ 자세한 안내는 전화 <strong>010-4429-3013, 010-4429-3019 (24시간)</strong> 또는 <strong>온라인 문의하기</strong>를 이용하시면 신속하게 답변 드리겠습니다.</p>
		</div>
	</section>
	<section class="sec">
		<div class="wrap">
			<h3 class="title">개설 특장점</h3>
			<p class="s_txt02">온비즈 오피스는 여러분의 성공적인 가맹점 개설을 약속 드립니다.</p>
			<ul class="ico_list clr">
				<li class="ico_list01">
					<strong>로열티 지불 NO</strong>
					<p class="line2">
						사무실 비용을 최대 절약하여<br>
						사업 초기 투자지출을 대폭 절감하세요!
					</p>
				</li>
				<li class="ico_list02">
					<strong>저렴한 인테리어</strong>
					<p class="line4">
						고품격 사무 가구를 합리적인<br>
						비용으로 고객 요구에 따라 자유로이 공간<br>
						배치를 활용할 수 있도록 맞춤 공간 배치를<br>
						제공 합니다.
					</p>
				</li>
				<li class="ico_list03">
					<strong>활발한 광고 홍보활동 전개!</strong>
					<p class="line3">
						지점 홈페이지 제작 및 광고<br>
						진행(네이버, 다음등 포털 사이트<br>
						1순위 광고진행)
					</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec process">
		<div class="wrap">
			<h3 class="title">개설절차</h3>
			<p class="s_txt02">온비즈 오피스는 여러분의 성공적인 가맹점 개설을 약속 드립니다.</p>
		</div>
		<div class="setup">
			<ol class="hidden">
				<li>STEP 1 본사 홈페이지 소정약식 개설신청 접수</li>
				<li>STEP 2 지역담당자 현장조사</li>
				<li>STEP 3 지상조사 및 분석</li>
				<li>STEP 4 출점 타당성 검토</li>
				<li>STEP 5 최종 협의 결정</li>
				<li>STEP 6 가맹 계약 체결</li>
				<li>
					STEP 7
					<ul>
						<li>건물주 : 인테리어 공사 및 사무집기 셋팅 운영교육</li>
						<li>가맹점주 : 임대차계약 진행, 인테리어 공시 및 사무집기셋팅, 운영교육</li>
					</ul>
				</li>
				<li>STEP 8 지정 홈페이지 제작 및 광고 진행(네이버, 다음등 포털 사이트 1순위 광고진행)</li>
				<li>STEP 9 개설완료</li>
			</ol>
		</div>
	</section>
	<section class="sec">
		<div class="wrap">
			<h3 class="title">예상수익률</h3>
			<p class="s_txt02">
				체계화된 시스템으로, 손쉬운 관리/적은 비용으로 큰 수입<br>
				제 2의 인생에 도전하세요!
			</p>
			<div class="invest">
				<div class="top">
					<p>온비즈 오피스 초기 투자비용</p>
				</div>
				<div class="btm">
					<p>임대 보증금 포함</p>
					<strong class="money">1억 ~ 3억원</strong>
				</div>
			</div>
			<p class="s_txt01"><span class="mark">“</span><span class="sign">예 ) 투자 총액이 2억원일 경우</span> 매월 <span class="sign">실 수령액은 900만원</span>이 예상됩니다<span class="mark">”</span></p>
			<p class="s_txt03">지점 안정화 이후, 데이터를 바탕으로 계산된 금액이며 신규센터의 실제 수익금은 예시와 다를 수 있습니다.</p>
		</div>
	</section>
	<section class="sec partners">
		<div class="wrap">
			<h3 class="title white">가맹문의</h3>
			<p class="s_txt02 white">
				체계화된 시스템으로, 손쉬운 관리/적은 비용으로 큰 수입<br>
				제 2의 인생에 도전하세요!
			</p>
			<div class="board_write">
				<form id="inquiry">
				<input type="hidden" name="mode" value="QBAxVjdUJw==">
					<fieldset>
						<legend class="hidden">가맹점 문의하기</legend>
						<div class="gruop">
							<div class="column3">
								<div class="col">
									<label for="Name" class="block">성함</label>
									<input type="text" title="이름을 입력하세요" id="Name" name="name" maxlength="20" class="txt_box" style="width:100%;">
								</div>
								<div class="col">
									<label for="Tel" class="block">연락처</label>
									<input type="text" title="연락처를 입력하세요" id="Tel" name="tel" maxlength="11" onkeyup="javascript:checktype('number','tel')" class="txt_box" style="width:100%;">
								</div>
								<div class="col">
									<label for="Email" class="block">E-MAIL</label>
									<input type="text" title="이메일주소를 입력하세요" id="Email" name="email" maxlength="150" class="txt_box" style="width:100%;">
								</div>
							</div>
						</div>
						<div class="gruop">
							<div class="column3">
								<div class="col">
									<span class="block">건물소유</span>
									<div>
										<input type="radio" id="Rad01" class="on" name="r1" value="Y" checked="checked">
										<label for="Rad01" style="margin-right:20px;">보유</label>
										<input type="radio" id="Rad02" name="r1" value="N" style="margin-left:15px;">
										<label for="Rad02">미보유</label>
									</div>
								</div>
								<div class="col">
									<label for="Money" class="block">예정투자금액</label>
									<input type="text" title="예정투자금액을 입력하세요" id="Money" name="money" maxlength="20" onkeyup="javascript:checktype('number','money')" class="txt_box" style="width:100%;">
								</div>
								<div class="col">
									<label for="Area" class="block">선호지역</label>
									<input type="text" title="선호지역을 입력하세요" id="Area" name="area" maxlength="200" class="txt_box" style="width:100%;">
								</div>
							</div>
						</div>
						<div class="gruop">
							<span class="block">문의사항</span>
							<textarea name="contents" id="contents" cols="30" rows="10"></textarea>
						</div>
						<div class="gruop">
							<span>원하는 답변 방법 :</span>
							<input type="radio" id="Rad03" class="on" name="r2" value="mail" checked="checked">
							<label for="Rad03" style="margin-right:20px;">E-MAIL</label>
							<input type="radio" id="Rad04" name="r2" value="tel">
							<label for="Rad04">전화</label>
						</div>
						<a href="javascript:inquiry();" class="btn_partners">가맹점 문의하기</a>
					</fieldset>
				</form>
			</div>
			<script type="text/javascript">

			</script>
		</div>
	</section>
	   

    <!-- 푸터 -->
    <footer id="footer">
      <p>
        (주)이비즈네트웍스 / 대표이사:박기범 / 사업자등록번호:220-87-30865 / 온비즈오피스
        <a href="#" onclick="window.open('http://ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2006322008330211501&amp;area1=&amp;area2=&amp;currpage=1&amp;searchKey=04&amp;searchVal=2208730865&amp;stdate=&amp;enddate=');">사업자정보확인</a>
      </p>
      <address>
        서울특별시 강남구 테헤란로82길 15, 14층(대치동, 디아이타워) / TEL : 02-6255-3014 / EMAIL : onbiz@ebiznetworks.co.kr
      </address>
      <p><small>Copyright ⓒ Ebiznetworks, All Rights Reserved.</small></p>
    </footer>
  </div>
</body>
</html>