<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="ko">
 <meta charset="utf-8" />
 <title>온비즈결제페이지</title>
<meta name="title" content="온비즈오피스" /> 
<meta name="author" content="온비즈오피스"/>
<meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office" /> 
<meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta name="keywords" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office"/>
<meta name="classification" content="소호사무실"/>

<!-- 오픈그래프 -->
<meta property="og:type" content="website">
<meta property="og:title" content="온비즈오피스">
<meta property="og:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta property="og:url" content="http://www.onbiz.co.kr">
<meta property="og:site_name" content="온비즈오피스">
<!-- 오픈그래프 -->

<!-- Android icon -->
<link rel='shortcut icon' type="image/x-ico" href='http://img.onbiz.co.kr/favicon/icon128x128.png' />
<!-- iPhone icon -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='57x57' href='http://img.onbiz.co.kr/favicon/icon57x57.png' />
<!-- iPad icon -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='72x72' href='http://img.onbiz.co.kr/favicon/icon72x72.png' />
<!-- iPhone icon(Retina) -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='114x114' href='http://img.onbiz.co.kr/favicon/icon114x114.png' />
<!-- iPad icon(Retina) -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='144x144' href='http://img.onbiz.co.kr/favicon/icon144x144.png' />

<link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> <!--[if lte IE 8]> <script src="path/to/poly-checked.min.js"></script> <![endif]-->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

<script>

$(document).ready(function(){

	$( ".tab>li>a" ).click(function() {
    $(this).parent().addClass("on").siblings().removeClass("on");
    return false;
});


});


</script>


</head>
<body>
	<div id="wrapeer">
		<div id="wrap">
			<div id="header">
				<h1 id="logo"><a href="#"><img src="img/logo.gif" alt="온비트오피스로고"/></a></h1>
				<div id="gnb">
					<ul>
						<li class="menu_title">가상오피스 임대신청</li>
						<li class="gnb_m gnb_m01"><a href="">임대신청</a></li>
						<li> | </li>
						<li class="gnb_m gnb_m02"><a href="">임대 신청내역 확인</a></li>
					</ul>
					<p class="tel">문의전화 : 02-6255-3013, 010-4429-3013 (24시간) </p>
				</div>
				<div id="lnb">
					<div class="menuTitle">신청내역 확인</div>
					<ul class="navi navi_04">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li class="here">3.신청완료</li>
					</ul>
				</div>
			</div>
	
			<div id="container">
				<div class="contents">
					<div class="contract">

						<div class="contract_table01">
							<p class="contract_table01_tit">ㆍ 사업자정보</p>
							<table border="1">
								<tr>
									<td class="th_color" width="200">사업자 구분</td>
									<td>개인 사업자</td>
									<td class="th_color">용도</td>
									<td>신규사업자 개설용</td>
								</tr>
								<tr>
									<td class="th_color" width="200">업종</td>
									<td colspan="3">부동산 컨설팅</td>
								</tr>
							</table>
						</div><!--contract_table01-->

						<div class="contract_table02">
							<p class="contract_table02_tit">ㆍ계약 담당자 정보</p>
							<table border="1">
								<tr>
									<td class="th_color" >성명</td>
									<td colspan="4">홍길동</td>
								</tr>
								<tr>
									<td class="th_color" width="200">연락처</td>
									<td colspan="4">010-0000-0000</td>
								</tr>
								<tr>
									<td class="th_color" width="200">주민등록번호</td>
									<td colspan="4">000000-0000000</td>
								</tr>
								<tr>
									<td class="th_color" width="200">이메일 주소</td>
									<td >OOOO@naver.com</td>
									<td class="th_color">팩스번호</td>
									<td >00-000-0000</td>
								</tr>
							</table>
						</div><!--contract_table02-->

						<div class="contract_table03">
							<p class="contract_table03_tit">ㆍ 결제상품 정보</p>
							<table border="1">
								<tr>
									<td class="th_color" width="200">사업자 구분</td>
									<td>개인 사업자</td>
								</tr>
								<tr>
									<td class="th_color" width="200">업종</td>
									<td>부동산 컨설팅</td>
								</tr>
								<tr>
									<td class="th_color" width="200">업종</td>
									<td>부동산 컨설팅</td>
								</tr>
							</table>
						</div><!--contract_table03-->

						<div class="contract_table04">
							<p class="contract_table04_tit">ㆍ결제정보</p>
							<table border="1">
								<tr>
									<td class="th_color" width="200">결제일</td>
									<td>2017년 00월 00일</td>
								</tr>
								<tr>
									<td class="th_color" width="200">상품정보</td>
									<td>가상오피스 3개월 이용권</td>
								</tr>
								<tr>
									<td class="th_color" width="200">임대기간</td>
									<td>2017년 00월 00일(0요일) ~ 2017년 00월 00일(0요일)</td>
								</tr>
								<tr>
									<td class="th_color" width="200">옵션상품 추가</td>
									<td>대회의실 및 미팅룸 월 5시간 사용</td>
								</tr>
								<tr>
									<td class="th_color" width="200">결제방법</td>
									<td>신용카드</td>
								</tr>
								<tr>
									<td class="th_color final_pay" width="200">최종결제금액</td>
									<td class="final_pay02">
										<p>642,000원(VAT포함)</p>
										<span class="btnBox3">
											<input type="button" value="세금계산서 신청" name="" />
											<input type="button" value="영수증 발급" name="" />
										</span>
									</td>
								</tr >
							</table>
						</div><!--contract_table03-->
							
							<div class="contract_btn03"><input type="button" value="계약서(PDF파일) 다운 받기" /></div>
					
					</div><!--contract-->					
				</div>
			</div><!--container-->
			<div id="footer">
				(주)이비즈네트웍스  /  대표이사 : 박기범   /  사업자등록번호 : 220-87-30865   /  온비즈오피스&nbsp;&nbsp;&nbsp;<input type="button" value="사업자정보확인"  /><br/>
서울특별시 강남구 선릉로 99길 12, 4층 (역삼동, 모노타워)  /  TEL : 02-6255-3013  /  EMAIL : onbiz@ebiznetworks.co.kr
<small>Copyright © EbizNetworks. All Rights Reserved.</small>
			</div>
		</div>
	</div><!--wraper-->   
</body>
</html>
