<!DOCTYPE html>
<html lang="ko-KR">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">

	<meta name="title" content="온비즈오피스" />
	<meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대" /> 
	<meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
	<meta name="keywords" content="가상오피스, 80평, 분할임대, 삼성역, 풀옵션,Onbiz Office"/>
	<meta name="classification" content="소호사무실"/>

  <!-- 오픈그래프 -->
  <meta property="og:title" content="온비즈오피스">
  <meta property="og:url" content="http://onbiz.co.kr">
  <meta property="og:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">
  <meta property="Description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://onbiz.co.kr">
  <meta name="twitter:title" content="온비즈오피스">
  <meta name="twitter:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <meta name="twitter:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">

	<!-- Android icon -->
	<link rel="shortcut icon" type="image/x-ico" href="http://img.onbiz.co.kr/favicon/icon128x128.png" />
	<!-- iPhone icon -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="57x57" href="http://img.onbiz.co.kr/favicon/icon57x57.png" />
	<!-- iPad icon -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="72x72" href="http://img.onbiz.co.kr/favicon/icon72x72.png" />
	<!-- iPhone icon(Retina) -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="114x114" href="http://img.onbiz.co.kr/favicon/icon114x114.png" />
	<!-- iPad icon(Retina) -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="144x144" href="http://img.onbiz.co.kr/favicon/icon144x144.png" />

	<title>온비즈결제페이지</title>

	<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/reset.css" type="text/css">
  <!-- <link rel="stylesheet" href="http://static.onbiz.co.kr/css/common.css" type="text/css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/info/info.css" type="text/css"> -->
  <link rel="stylesheet" href="../src/css/common.css" type="text/css">
  <link rel="stylesheet" href="../src/css/info/info.css" type="text/css">

	<script src="http://static.onbiz.co.kr/js/jquery-1.12.4.min.js" type="text/javascript"></script>

	<!-- ie9이하 input꾸미기, nth-child 셀렉터 작동, html5, 미디어쿼리 작동 -->
	<!--[if lt IE 9]>
		<script src="http://static.onbiz.co.kr/js/poly-checked.min.js"></script>
		<script src="http://static.onbiz.co.kr/js/selectivizr-min.js"></script>

	  <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<div id="wrap">
		<h1 class="hidden">온비즈가상오피스</h1>
		<!-- 헤더  -->
		<div class="h_wrap">
			<header id="header" class="clr">
				<h2 class="in">
					<a href="/"><img src="http://img.onbiz.co.kr/logo.gif" alt="온비트오피스로고"/></a>
				</h2>
				<div class="g_wrap">
					<nav id="gnb" class="clr">
						<h2><a href="#">가상오피스 임대신청</a></h2>
						<ul class="clr">
							<li><a href="#">임대신청</a></li>
							<li> | </li>
							<li><a href="#">임대 신청내역 확인</a></li>
						</ul>
					</nav>
					<p class="tel">온비즈오피스<br/>문의전화: 010-4429-3013, 010-4429-3017 (24시간) </p>
				</div>
			</header>
		</div>
		<!-- 네비게이션 -->
		<nav id="nb" class="clr">
			<h2>가상오피스 임대신청</h2>
			<ul class="clr">
				<li>01.상품선택</li>
				<li>02.정보입력</li>
				<li>03.계약서 서명</li>
				<li>04.계약 완료</li>
			</ul>
		</nav>

		<!-- main영역 -->
		<section id="main"></section>

		<!-- 콘텐츠영역 -->
		<div id="contents"></div>
		<!-- 콘텐츠영역 끝 -->

		<!-- 푸터 -->
		<footer id="footer">
			<p>
				(주)이비즈네트웍스 / 대표이사:박기범 / 사업자등록번호:220-87-30865 / 온비즈오피스 
				<a href="#">사업자정보확인</a>
			</p>
			<address>
				서울특별시 강남구 선릉로 99길 12, 4층 (역삼동, 모노타워) / TEL : 02-6255-3014 / EMAIL : onbiz@ebiznetworks.co.kr
			</address> 
			<p><small>Copyright ⓒ Ebiznetworks, All Rights Reserved.</small></p>
		</footer>
	</div>
</body>
</html>
