<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="ko">
 <meta charset="utf-8" />
 <title>온비즈결제페이지</title>
<meta name="title" content="온비즈오피스" /> 
<meta name="author" content="온비즈오피스"/>
<meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office" /> 
<meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta name="keywords" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office"/>
<meta name="classification" content="소호사무실"/>

<!-- 오픈그래프 -->
<meta property="og:type" content="website">
<meta property="og:title" content="온비즈오피스">
<meta property="og:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
<meta property="og:url" content="http://www.onbiz.co.kr">
<meta property="og:site_name" content="온비즈오피스">
<!-- 오픈그래프 -->

<!-- Android icon -->
<link rel='shortcut icon' type="image/x-ico" href='http://img.onbiz.co.kr/favicon/icon128x128.png' />
<!-- iPhone icon -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='57x57' href='http://img.onbiz.co.kr/favicon/icon57x57.png' />
<!-- iPad icon -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='72x72' href='http://img.onbiz.co.kr/favicon/icon72x72.png' />
<!-- iPhone icon(Retina) -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='114x114' href='http://img.onbiz.co.kr/favicon/icon114x114.png' />
<!-- iPad icon(Retina) -->
<link rel='apple-touch-icon' type="image/x-ico" sizes='144x144' href='http://img.onbiz.co.kr/favicon/icon144x144.png' />

<link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> <!--[if lte IE 8]> <script src="path/to/poly-checked.min.js"></script> <![endif]-->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

</head>
<body>
	<div id="wrapeer">
		<div id="wrap">
			<div id="header">
				<h1 id="logo"><a href="#"><img src="img/logo.gif" alt="온비트오피스로고"/></a></h1>
				<div id="gnb">
					<ul>
						<li class="menu_title">가상오피스 임대신청</li>
						<li class="gnb_m gnb_m01"><a href="">임대신청</a></li>
						<li> | </li>
						<li class="gnb_m gnb_m02"><a href="">임대 신청내역 확인</a></li>
					</ul>
					<p class="tel">문의전화 : 02-6255-3013, 010-4429-3013 (24시간) </p>
				</div>
				<div id="lnb">
					<div class="menuTitle">가상오피스 임대신청</div>
					<ul class="navi navi_02">
						<li>1.정보입력</li>
						<li class="here">2.상품결제</li>
						<li>3.신청완료</li>
					</ul>
				</div>
			</div>
	
			<div id="container">
				<div class="contents">
					<div class="intro">
						<p class="tit02"><span>온비즈 오피스</span>가상오피스</p>
						<p class="txt02">
							Onbiz office는 클릭 한번으로 강남의 권의 있는 주소를 제공합니다.<br/>
							온비즈 오피스의 ‘가상오피스 실시간 임대서비스’는 고객님의 성공적인 비즈니스를 위하여<br/>
							<span>전국 어디에서든 방문없이 계약완료 및 사업자 등록서류를 1시간 이내 제공받으실 수 있습니다.</span>
						</p>
					</div>
					

					<div class="goods_choice">
						<div class="choice_tit"><img src="img/pointer.gif" alt="포인트"/>임대상품 선택</div>
						<div class="goods_date">ㆍ임대희망 개시일&nbsp;&nbsp; 
							<select name="" id="" class="date_input">
								<option class="date_dd_yy" value="">2017년 00월 00일</option>
								<option class="date_dd_yy" value="">2017년 00월 01일</option>
								<option class="date_dd_yy" value="">2017년 00월 02일</option>
							</select>
						</div>
					
						<table class="goods_choiceTAble">
							<tr>
								<th colspan="4">임대기간 선택</th>
							</tr>
							<tr>
								<td class="color_td">선택</td>
								<td class="color_td">임대기간</td>
								<td class="color_td">예치금</td>
								<td class="color_td bor_nor">월세<span>(부과세별도)</span></td>
							</tr>
							<tr>
								<td class="chek02 bor_nor"><input type="radio" name="select_chk1" value="" id="select02_chk"/><label for="select02_chk"></label></td>
								<td class="center_txt">1개월</td>
								<td class="left_price"><p>80,000원</p></td>
								<td class="left_price"><p>100,000원</p></td>
							</tr>
							<tr class="">
								<td class="chek02 bor_nor here_chk"><input type="radio" name="select_chk1" value="" id="select03_chk" checked="checked" /><label for="select03_chk"></label></td>
								<td class="center_txt here_chk">3개월</td>
								<td class="left_price here_chk"><p>80,000원</p></td>
								<td class="left_price here_chk"><span>30%할인</span><p>210,000원</p></td>
							</tr>
							<tr>
								<td class="chek02 bor_nor"><input type="radio" name="select_chk1" value="" id="select04_chk"/><label for="select04_chk"></label></td>
								<td class="center_txt">6개월</td>
								<td class="left_price"><p>80,000원</p></td>
								<td class="left_price"><span>40%할인</span><p>360,000원</p></td>
							</tr>
							<tr>
								<td class="chek02 bor_nor"><input type="radio" name="select_chk1" value="" id="select05_chk"/><label for="select05_chk"></label></td>
								<td class="center_txt">12개월</td>
								<td class="left_price"><p>80,000원</p></td>
								<td class="left_price"><span>50%할인</span><p>600,000원</p></td>
							</tr>
						</table>

						<table class="goods_choiceTAble">
							<tr>
								<th colspan="3">옵션 상품 추가</th>
							</tr>
							<tr>
								<td class="color_td">선택</td>
								<td class="color_td">옵션상품 추가</td>
								<td class="color_td">금액</td>
							</tr>
							<tr>
								<!-- check됐을 때 'here_chk' class추가 예시   -->
								<!-- <td class="chek03 bor_nor here_chk"><input type="checkbox" name="select_chk2" value="" id="select06_chk" checked="checked"/><label for="select06_chk"></label></td> 
								<td class="center_txt here_chk">대 회의실 및 미팅룸 월 5시간 사용</td>
								<td class="left_price02 here_chk"><p>월 10,000원</p></td> -->
								<td class="chek03 bor_nor"><input type="checkbox" name="select_chk2" value="" id="select06_chk"/><label for="select06_chk"></label></td>
								<td class="center_txt">대 회의실 및 미팅룸 월 5시간 사용</td>
								<td class="left_price02"><p>월 10,000원</p></td>
							</tr>
							<tr>
								<td class="chek03 bor_nor"><input type="checkbox" name="select_chk2_1" value="" id="select07_chk"/><label for="select07_chk"></label></td>
								<td class="center_txt">우편물 발송 서비스</td>
								<td class="left_price02"><p>월 20,000원</p></td>
							</tr>
							<tr>
								<td class="chek03 bor_nor"><input type="checkbox" name="select_chk2_2" value="" id="select08_chk"/><label for="select08_chk"></label></td>
								<td class="center_txt">팩스수신 서비스 및 전화번호 신청(전화실비 사용자 부담)</td>
								<td class="left_price02"><p>월 20,000원</p></td>
							</tr>
							<tr>
								<td class="chek03 bor_nor"><input type="checkbox" name="select_chk2_3" value="" id="select09_chk"/><label for="select09_chk"></label></td>
								<td class="center_txt">복사기 이용(월 흑백 150매)</td>
								<td class="left_price02"><p>월 10,000원</p></td>							
							</tr>
							<tr>
								<td class="chek03 bor_nor"><input type="checkbox" name="select_chk2_3" value="" id="select09_chk"/><label for="select09_chk"></label></td>
								<td class="center_txt">카드키</td>
								<td class="left_price02"><p>보증금 30,000원</p></td>							
							</tr>
						</table>
						<p class="more_txt">※ 카페테리아 이용 무제한, 입주명판 무료제공</p>
						<div class="paymentBox">
							<p class="payment_title"><img src="img/pointer.gif" alt="포인트"/>결제정보</p>
							<ul class="payment">
								<li class="chek04">
									<input type="radio" name="select_chk4" value="" id="select10_chk" checked="checked"/>
									<label for="select10_chk"></label>	신용카드(개인,법인)
								</li>
								<li class="chek04">
									<input type="radio" name="select_chk4" value="" id="select11_chk"/>
									<label for="select11_chk"></label>	신용카드(ISP)
								</li>
								<li class="chek04">
									<input type="radio" name="select_chk4" value="" id="select12_chk"/>
									<label for="select12_chk"></label>	실시간 계좌이체
								</li>
							</ul>
							<p class="s_txt">ㆍ신용카드 간편결제는 별도의 설치없이 카드저오 입력만으로 결제가 가능합니다.
							<br/>ㆍ신용카드, 체크카드, 법인카드로 결제가 가능합니다.</p>
						</div>
					</div>
					
					<div class="payBox_Wrap">
						<div class="payBox">
							<p class="pay_tit">결제하실 금액</p>
							<ul>
								<li><p>ㆍ임대 개시일</p><span>2017년 00월 00일(0요일)</span></li>
								<li><p>ㆍ임대 기간</p><span>3개월</span></li>
								<li><p>ㆍ임대 상품</p><span>대회의실/미팅룸5시간</span></li>
							</ul>
							<ul>
								<li><p>ㆍ임대 정상가</p><span>300,000원</span></li>
								<li><p>ㆍ옵션 상품</p><span>(3개월)30,000원</span></li>
								<li><p>ㆍ총 할인혜택</p><span class="discount">-90,000원</span></li>
							</ul>
							<div class="final_pay">
								<p>ㆍ최종 결제금액</p><span>264,000원</span>
								<p class="s_text">(VAT별도)</p>
							</div>
							<div class="clauseBox">
								<div class="checks"> <input type="checkbox" id="ex_chk"> <label for="ex_chk">주의사항 및 약관 동의</label> </div>
								<p class="clause"><textarea readonly="readonly">주의사항(체크박스 확인)
■ 계약 만료 및 해지시 30일 이전에 당사에통보해야하며, 미통보시 해당 예고기간은 사용 기간으로 간주되어 합산 창구됩니다.
■ 할인이 적용된 계약인 경우, 중도 해지시, 해당 기간동안 할인받은 총 금액은 정상금액으로 정산되어 반환 청구됩니다.
■ 업무지원 서비스 및 기타 서비스 비용을 당사가 대납할 경우에는 10%의서비스요금이 추가로 부과됩니다.
■ 연락 받으실 전화번호가 변경되신 경우 반드시 알려주시기 바라며 임차인의 부주의로 발생한 피해는 보상하지 않습니다.
■ 사용료의 지급없이 무단으로 주소 사용시 [부가가치 세법 제8조 및 같은 법 시행령 15조]에 따라 관할 세무서에 서류를 제출합니다.
■ 사업자 등록신청서를 임대인의 동의없이 작성해 제출하면 문서 위조 및 위조 문서 행사 등 형사처벌을 받으실 수 있습니다. 
								</textarea></p>
								<p class="pay_info">※ 결제 후 계약서(PDF파일)는 이메일로 발송해<br/>
								드리며, 홈페이지에서도 다운로드 받으실 수 있습니다.  </p>
								<p class="payment_btn"><input type="button"  name="" value="결제하기"/></p>
								<div class="card_discount">
									<ul class="first_card">
										<li><img src="img/icon_samsung.jpg" alt="삼성카드"/></li>
										<li> 5만원 이상</li>
										<li>2~5개월</li>
									</ul>
									<ul>
										<li><img src="img/icon_bc.jpg" alt="비씨카드"/></li>
										<li> 5만원 이상</li>
										<li>2~5개월</li>
									</ul>
									<ul>
										<li><img src="img/icon_citi.jpg" alt="시티카드"/></li>
										<li> 5만원 이상</li>
										<li>2~5개월</li>
									</ul>
									<ul>
										<li><img src="img/icon_hanask.jpg" alt="하나에스케이카드"/></li>
										<li> 5만원 이상</li>
										<li>2~5개월</li>
									</ul>
									<ul>
										<li><img src="img/icon_hyundai.jpg" alt="현대카드"/></li>
										<li> 5만원 이상</li>
										<li>2~5개월</li>
									</ul>
									<ul>
										<li><img src="img/icon_kukmin.jpg" alt="KB국민카드"/></li>
										<li> 5만원 이상</li>
										<li>2~5개월</li>
									</ul>
									<ul>
										<li><img src="img/icon_lotte.jpg" alt="롯데카드"/></li>
										<li> 5만원 이상</li>
										<li>2~5개월</li>
									</ul>
									<ul>
										<li><img src="img/icon_nh.jpg" alt="농협카드"/></li>
										<li> 5만원 이상</li>
										<li>2~5개월</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div><!--container-->
			<div id="footer">
				(주)이비즈네트웍스  /  대표이사 : 박기범   /  사업자등록번호 : 220-87-30865   /  온비즈오피스&nbsp;&nbsp;&nbsp;<input type="button" value="사업자정보확인"  /><br/>
서울특별시 강남구 선릉로 99길 12, 4층 (역삼동, 모노타워)  /  TEL : 02-6255-3013  /  EMAIL : onbiz@ebiznetworks.co.kr
<small>Copyright © EbizNetworks. All Rights Reserved.</small>
			</div>
		</div>
	</div><!--wraper-->   
</body>
</html>
